[2014-12-08 16:40] dmi3j opened #2 "How to configure KVNMinimumSuccessDisplayTime and others with source via CocoaPods"
The only solution to change KVNMinimumSuccessDisplayTime time is to change it in source code. Which should be performed each time after pods are re-downloaded. Is there any other way to set these values?

[2014-12-09 16:22] docash59 opened #3 "Custom Image"
Would it be possible in a future update to include the option to add a custom image instead of the 'tick' and 'cross' icon?

[2014-12-10 00:29] docash59 opened #4 "Unlimited Display Time & Buttons"
Another thought that could be great to add in would be the ability to have the display time as unlimited so it stays on the screen until the dismiss is triggered.

Also whilst it on the screen the other ability would be to add a button to the unlimited display time so for example shows an 'error' with buttons indicating that the user has no internet and user can press like 'retry' to try again or

[2014-12-11 01:38] dwery opened #6 "constraints error"
This happens in the iPad simulator with a progress hud:

Unable to simultaneously satisfy constraints.
    Probably at least one of the constraints in the following list is one you don't want. Try this: (1) look at each constraint and try to figure out which you don't expect; (2) find the code that added the unwanted constraint or constraints and fix it. (Note: If you're seeing NSAutoresizingMaskL

[2014-12-11 13:03] zavsby opened #7 "Wrong behaviour on iPad"
If I use KVNProgress on iPad it has wrong width (too big) on any orientation. Does it support iPad?

[2014-12-11 18:08] avently opened #8 "Change the color of the HUD dynamically"
Hey, thank you for your library. Can you tell me how to change a color of "backgroundFillColor" and "circleFillBackgroundColor" dynamically?
For example. I had set a color as red. I pressed a button and a HUD had appeared with the red color. Then i had changed the color and the color of the HUD was the same.

[2014-12-13 17:25] DougFischer opened #10 "CompletionBlock for success/error messages."
I really missed the withCompletion parameter existing on dismiss method, in other methods like showError and showSuccess.

Sometimes we need to show a success HUD and then call something on UI (in my scenario I need to pop current viewcontroller as soon as HUD disappears).

Actually I'm calling "performSelector:withObject:afterDelay" with success/error animation durations as last parameter, but I

[2014-12-15 13:07] ddaddy opened #11 "Rotation doesn't seem to work"
Is anyone else seeing issues with rotation?

When using iOS 7, the display just doesn't rotate at all.
In iOS 8 it rotates but is no longer centred.

[2014-12-20 12:46] #2 closed, assigned to kevin-hirsch

[2014-12-20 12:50] #6 closed, assigned to kevin-hirsch

[2014-12-20 12:51] #7 closed, assigned to kevin-hirsch

[2014-12-20 12:53] #11 closed, assigned to kevin-hirsch

[2014-12-21 17:43] #10 closed, assigned to kevin-hirsch

[2014-12-22 04:05] JustinDMoore opened #12 "[KVNProgress showProgress: status: onView: ] (on view not working?)"
I just updated from 2.1.3 to 2.1.5 today, and now have this issue. Please see attached screenshot.

In my custom view xib .m, I am calling showProgress: status: onView:, but KVNProgress always centers itself vertically and horizontally on the main view. In my xib, I have a UIView that I set the frame to 50x50 and set ClipsSubviews = YES. The KVNProgress view positions itself outside of the UIView,

[2014-12-22 08:38] JustinDMoore opened #13 "[KVNProgress Show] -> [KVNProgress ShowSuccess] animation glitch?"
Sorry to add more to your pile ;) I noticed that there is an animation issue going on when transitioning from [KVNProgress Show] to [KVNProgress ShowSuccess]. The circle doesn't "morph" into the success checkmark as it used to. It seems as though a new "success" view is created and animated into place.

Here is a link to a recording of what I am experiencing:
https://www.youtube.com/watch?v=bAFHN-

[2015-01-05 08:58] kevin-hirsch commented on #13
I have been away for a week. I am back now. I'm going to check this issue this week.

[2015-01-09 02:28] ergodic1 opened #15 "Showing an indeterminate progress then hiding it immediately leaves a screen with alpha 0 overlaying the main view preventing user interaction"
We've got a long running task that sometimes can be skipped. We figure that out in a background thread.
We popped up a KVNProgress up, then due to the fact the background task could be skipped, dismissed it almost immediately. This left a hud with alpha = 0 on the screen and we couldn't interact with it.

We've solved this by being smarter about the display, but perhaps there should be a NSOperati

[2015-01-09 10:35] ergodic1 commented on #15
Yes, sure am. I stepped through it in the debugger, and in:

+ (void)endDismissWithCompletion:(KVNCompletionBlock)completion
{
	KVNProgress *progressView = [self sharedView];

	if (progressView.state == KVNProgressStateDismissing) {
 ...

progressView.state was KVNProgressStateShowed, even though previously it had been KVNProgressStateDismissing. It was then I realised that there were timing issue

[2015-01-09 10:43] kevin-hirsch commented on #15
You are right. I'm going to implement `NSOperationQueue`.
It should be done next week. I'll keep you in touch from here ;)

Thanks! :+1:

[2015-01-09 10:48] ergodic1 commented on #15
Great! It's an amazingly well done library :)

[2015-01-09 10:50] kevin-hirsch commented on #15
You made my day! :)

[2015-01-09 10:56] ergodic1 commented on #15
Thinking about it, one other way to solve it might be to pass in a block to get notified of when the progress hud was shown, then we can safely dismiss it. That might be simpler to implement, but would still retain some risk of strange states if you didn't know about this.

[2015-01-11 12:31] kevin-hirsch commented on #12
I will check this issue today. I'll also add in a second time a BOOL to enable/disable user interaction while the HUD is displayed ;)

[2015-01-11 13:34] kevin-hirsch commented on #12
@JustinDMoore, do you have any constraints error logged in your console while showing the HUD?

[2015-01-11 19:43] kevin-hirsch commented on #12
@JustinDMoore, I was unable to reproduce your issue. Here is what I did:

1. I created a `UIViewController` with this code:

[code]

2. The `KVNSmallView` class:

[code]

3. Here is the xib of this `KVNSmallView`:

![kvnsmallview](https://cloud.githubusercontent.com/assets/2794684/5696454/65efdd84-99d2-11e4-988e-2ad7257f9225.png)

4. And that is the result I have:

![result](https://cloud.githubus

[2015-01-11 21:34] JustinDMoore commented on #12
Thanks for working on this. I'll be back in my office later tonight and I'll see what I can come up with.

[2015-01-13 07:26] JustinDMoore commented on #12
Sorry for the delay. I moved [self progress] to -awakeFromNib and it looks like it's supposed to now.

[2015-01-13 10:00] kevin-hirsch commented on #12
Great! :)
I'm closing this issue ;)

[2015-01-13 10:00] #12 closed

[2015-01-15 16:40] KiranPanesar opened #18 "Blur isn't applied on background view until it's rendered onto screen"
So I wanted to show a KVNProgress HUD as soon as a view controller's view appears on the screen, so the user can only see the blurred overlay.

Right now if you call ```[KVNProgress show]``` is anything other than the ```-viewDidAppear```, the HUD's background is totally transparent.

I would suggest listening to the view's properties to determine when its visibility changes and redraw the blur wh

[2015-01-15 16:49] kevin-hirsch commented on #18
It is because it's a static blur based on a screenshot of the view. In your case, the view is not yet visible so this causes the issue you have. It's planned that I implement also a dynamic blur, so I'll keep you in touch from here when it's done ;)

[2015-01-15 16:51] KiranPanesar commented on #18
Yeah, I thought that was the case.

A possibility for iOS 8+ would be UIBlurEffect:
https://developer.apple.com/library/prerelease/ios/documentation/UIKit/Reference/UIBlurEffect_Ref/index.html

[2015-01-16 03:25] pbarilla opened #19 "cocoapods version 2.1.6 is broken"
First up, thanks for a great library! :-)

Anyways, trying to install (or update an existing install) by using the following line in the podfile
[code]
gives a warning that pods cannot find the Pods/KVNProgress/LICENSE file. Additionally, Xcode cannot compile as it is missing a file KVNProgressConfiguration.h.

changing podfile line to
[code]
resolves issue

[2015-01-16 10:13] kevin-hirsch commented on #18
Yes, that what I was thinking for iOS 8, but I will have to find another solution for iOS 7 compatibility.

[2015-01-16 10:19] kevin-hirsch commented on #19
Thanks for your support and for noticing :)

So what you say is that having `pod 'KVNProgress'` in the Podfile and then you do a `pod install` or `pod update` and the command returns you the missing files error?

I will look at this issue in priority!

[2015-01-16 16:34] KiranPanesar commented on #18
We have implemented UIBlurEffect for iOS 8 on our internal projects and we're exploring [GPUBlur](https://github.com/BradLarson/GPUImage) and other hardware accelerated options for iOS 7 support.

We're going to be working on that at the end of next week, so if we find a good hardware-accelerated live blur method for our projects, I will share it here!

[2015-01-16 16:37] kevin-hirsch commented on #18
Thanks a lot! :+1:

[2015-01-20 23:35] pbarilla commented on #19
thats right. if you force it to use 2.1.4, it works as intended.
Thanks! :)

[2015-01-21 07:11] kevin-hirsch commented on #19
Can you confirm that all is working well now? :)

[2015-01-21 08:56] pbarilla commented on #19
Tested it earlier today, it's working perfectly. Thanks again :)

Sent from my iPhone

[2015-01-21 09:40] kevin-hirsch commented on #19
Thank you very much! I am closing this issue then ;)

[2015-01-21 09:40] #19 closed

[2015-01-22 02:35] kyosold opened #21 "How can i add a 'cancel' button to KVNProgress"
i like this HUD, but i found a question, how can i add a cancel button??

[2015-01-22 07:58] kevin-hirsch commented on #21
For now, there is no possibility to do this. You can:
- fork this repository to implement this by your side
- or you can use the new `tapBlock` property of the `KVNConfiguration` object to precise whatever action block you want to be executed when the HUD is tapped by the user. This is available since this commit 07a107b14d8cf5570bdec376703c0ac4b05c2fc8 and in the new Cocoapods version 1.2.7 (Exam

[2015-01-22 07:58] #21 closed

[2015-01-23 19:27] KiranPanesar commented on #15
Any updates with this one, @kevin-hirsch? We're experiencing this when the network connection finishes before the show animation finishes. So it happens in a very small number of cases, but has a huge effect on the app.

How would you intend the NSOperationQueue solution to work?

[2015-01-23 22:15] kevin-hirsch commented on #15
@KiranPanesar, I will start working on it tomorrow but it will probably take a few days for the implementation of `NSOperationQueue` to be complete and tested.
A solution should be available next weekend ;)

[2015-01-23 22:22] KiranPanesar commented on #15
Great. We were going to work on this issues internally at MobileX Labs, because we occasionally run into it. Instead, we can figure out the live blur issue (#18), as we'll be needing that same solution for other parts of our app. :+1:

[2015-01-23 22:30] kevin-hirsch commented on #15
That would be much appreciated! :)

[2015-01-26 22:46] KiranPanesar commented on #15
@kevin-hirsch We're actually working on this issue now (we're planning on shipping an update to our app EOW, so we really need this fixed). We confirmed the root cause is as stated above.

We were talking about implementing ```NSOperationQueue``` but think it might be overkill. So now the question is: Why are you checking the state of the HUD before removing from the superview? Pretty sure we coul

[2015-01-27 07:37] kevin-hirsch commented on #15
Hi @KiranPanesar, the first check of `[self sharedView].state == KVNProgressStateHidden` could be removed.
But I cannot remove the `[self sharedView].state == KVNProgressStateDismissing` state because if you do:

[code]

1. The `dismiss` call with be delayed so that the first `show` call shows the HUD a minimum of time for the user before being dismissed.
2. But then, before the dismiss is actuall

[2015-01-27 16:27] mobilejohnw commented on #15
Hi @kevin-hirsch, this is John Welch, working with Kiran at MobileX Labs.  Your suggested fix won't address the frozen ui issue. With a single view app that does nothing else I can replicate the invisible dialog bug with the following lines in viewdidload:

[KVNProgress showWithStatus:@"Test 1" onView:self.view];
[KVNProgress showWithStatus:@"Test 2" onView:self.view];
[KVNProgress dismiss];

This

[2015-01-27 16:51] kevin-hirsch commented on #15
I will check if it's possible to fix this issue without `dispatch_queue`'s or `NSOperationQueue`'s tonight. I'll keep you posted.

[2015-01-27 21:53] ergodic1 commented on #15
Hey @mobilejohnw , one possible short term solution which I thought of might be to pass in a completion block:

[KVNProgress showWithStatus:@"Test 1" onView:self.view onceAnimationsFinished:^{
    // do next task... just make sure not to call dismiss outside of this block and you should be fine...
}];

The KVNProgress library would just make sure the onceAnimationsFinished block was called as part

[2015-01-27 22:33] mobilejohnw commented on #15
Hi @kevin-hirsch, so, in our case, we'd kick off the update once the minimum animation time had passed and dismiss when that update completed. That would solve the race condition as long as we used that pattern consistently.   Is this a change you'd be willing to publish? I'd like to avoid forking the library just for this bug. @KiranPanesar, care to chime in?

[2015-01-28 08:42] kevin-hirsch commented on #15
@ergodic1, that is a good idea indeed but more for a temporary fix, because I don't really want user to have to call the `show` methods with a completion block to avoid this particular issue. This should preferably be handled internally in the `KVNProgress`.

@mobilejohnw:
   1. I thought about a solution to fix this issue and an `NSOperationQueue` could be great to be able to handle orders of ope

[2015-01-28 13:08] mobilejohnw commented on #15
@kevin-hirsch, I have been investigating this problem, but don't have any code to share yet.  I didn't want to implement an NSOperationQueue or dispatch_queue solution if I could make a simpler change, but will if I have to. I'll be working on this again later today, because as @KiranPanesar mentioned we do need a fix this week.

[2015-01-30 16:48] korzun1993 opened #23 ""Infinity progress" freeze after application did become active."

[2015-01-30 16:53] foffux opened #24 "Compiling issue Xcode 5.1"
Into KVNProgress.m class, into rotationForStatusBarOrientation method, you defined:

case UIInterfaceOrientationUnknown:

But with Xcode 5.1 this will give me a compiler error. Take a look:

- (CGFloat)rotationForStatusBarOrientation {
	switch ([UIApplication sharedApplication].statusBarOrientation) {
		case UIInterfaceOrientationLandscapeLeft:
			return -M_PI_2;
		case UIInterfaceOrientationLands

[2015-01-30 16:59] kevin-hirsch commented on #23
What you mean by freeze? The ring is not animating?

[2015-01-30 17:01] kevin-hirsch commented on #24
What is the compiler error you got?
I put this case because it was part of the enum and I prefer handle all enum cases in a switch to avoid forgot about one.

[2015-01-30 23:16] korzun1993 commented on #23
Exactly, I add handler for  "applicationDidBecomeActive" notification and call method animateCircleWithInfiniteLoop in it, and it helps but I am not sure that this is best solution.

[2015-01-31 08:47] foffux commented on #24
Hello
Have a look at two pictures I attached. Moreover, storyboard you did complains about Xcode 5, it wants Xcode 6.
Hope this helps.
![schermata 2015-01-31 alle 09 45 05](https://cloud.githubusercontent.com/assets/8709479/5987510/24a77ab0-a92e-11e4-9dd5-f82f39fc16ea.png)
![schermata 2015-01-31 alle 09 45 32](https://cloud.githubusercontent.com/assets/8709479/5987511/24ab037e-a92e-11e4-88dd-58936

[2015-02-03 20:27] SolomonBier opened #26 "App crashing when trying to set value"
[KVNProgress showWithStatus:@"Loading"]; //produces below error

Error:
*** Terminating app due to uncaught exception 'NSUnknownKeyException', reason: '[<KVNProgress 0x15554d1b0> setValue:forUndefinedKey:]: this class is not key value coding-compliant for the key contentViewLeadingToSuperviewConstraint.'

[2015-02-04 21:28] kevin-hirsch commented on #24
Why do you need Xcode 5.1?
I do not think I am going to make it compatible with Xcode 5 because we'll soon have to use Xcode 6 to use iOS 8 SDK. As Apple said:

[2015-02-04 21:33] kevin-hirsch commented on #26
Which version of `KVNProgress` are you using?

[2015-02-04 22:18] kevin-hirsch commented on #23
I search for a good solution but I don't find a better than this one. Thanks for the proposition. Your pull request is now merged! I just refactored it a little to keep the same structure in all the project ;)

[2015-02-04 22:18] #23 closed

[2015-02-05 07:58] foffux commented on #24
Ok I agree and I think I will shift to Xcode 6 soon. I thought you wanted
to have also this compatibility. If you do not, no problem.

2015-02-04 22:28 GMT+01:00 Kevin Hirsch <notifications@github.com>:

[2015-02-05 08:06] kevin-hirsch commented on #24
Yes I will stay with Xcode 6 compatibility but I will change my README.md which precise Xcode 5. Thanks!

[2015-02-05 08:08] foffux commented on #24
Ok that information in readme file does not cost anything :-)
good job anyway

2015-02-05 9:06 GMT+01:00 Kevin Hirsch <notifications@github.com>:

[2015-02-05 08:49] kevin-hirsch commented on #24
Thank you! :)

[2015-02-05 08:49] #24 closed

[2015-02-08 17:30] Meseery opened #27 "Hud is not shown in full screen mode !"
when i set  ` _fullScreen = YES`  , the hud is not shown on a collection view, but it appears on others !

i used method line : `  [KVNProgress showErrorWithStatus:@"In Progress "] `

[2015-02-08 22:03] kevin-hirsch commented on #27
Hello @Meseery,

Can you be more clear on what you expected and what you get?
Do you use the `fullscreen` this way:

[code]
?

Also, you say the HUD is not shown on a collection view but you are using the method `showErrorWithStatus:` which displays the HUD on the window not on a certain view like `showErrorWithStatus:onView:`

[2015-02-10 14:45] foffux opened #28 "Crash with iOS SDK 8.1, KVNProgress 2.1.8"
A crash I have never seen with previous versions both iOS SDK and KVNProgress
Crash occurs here:

In KVNProgress.m
self.backgroundImageView.image = [UIImage emptyImage];

+[UIImage emptyImage]: unrecognized selector sent to class 0x2a2c2cc
 see log at the end

solve using this line of code:
self.backgroundImageView.image = [[UIImage alloc] init];

Could you please try to fix it in your whole archi

[2015-02-10 17:57] Meseery commented on #27
Hello @kevin-hirsch
Yes, i used the configuration above, `configuration.fullscreen=YES` and it doesn't work on main view which contains a collection view embedded in scroll view, I used all forms of methods and eventually it doesn't work !

[2015-02-11 08:49] foffux commented on #28
To give another clue, here what I did to avoid the issue. Simply add UIImage+KVNEmpty.m into my main project as resource to be compiled, even if it was already added to pods related project. I think it was not good at all and this happens just with new iOS 8 SDK (Xcode 6). Maybe a issue related to cocoa pods? I am using latest version, 0.35.0.
I think someone should look after this issue because i

[2015-02-12 10:50] foffux commented on #28
Based on what I told in
[TPKeyboardAvoidingScrollView TPKeyboardAvoiding_updateContentInset]: unrecognized selector sent to instance #75
I guess this issue can be closed. Hope this helps someone else.

[2015-02-12 10:51] foffux commented on #28
Link:
michaeltyson/TPKeyboardAvoiding#75

[2015-02-12 13:02] kevin-hirsch commented on #28
Thanks for the info @foffux!
I will add "-ObjC" to the Linker Flags and make a new version of the pod tonight.

[2015-02-12 13:07] foffux commented on #28
You can also check this answer

http://stackoverflow.com/questions/26445784/target-overrides-the-framework-search-paths-build-settings

maybe it was the actual cause of all my problems...Anyway, it were two days of workarounds to fix issues related to Xcode 6 and stuff related...

[2015-02-12 13:21] kevin-hirsch commented on #28
Thanks! :+1:

[2015-02-13 06:13] kevin-hirsch commented on #27
You are calling the HUD inside the code of your collection view?
Are you using it on other parts of your app and do it work correctly?
So, how and where the HUD is showing? Could you provide a screenshot of your issue?

[2015-02-13 06:24] kevin-hirsch commented on #28
Fixed in commit eb0c84439e880b20a66bcb036c6fb11358997155

[2015-02-13 06:24] #28 closed

[2015-02-13 15:22] Meseery commented on #27
No, i called it on loading the view on fetching the data and yes, it works in other views ,it's not working in `application:didFinishLaunchingWithOptions:` and it's not shown !

[2015-02-13 17:23] Meseery commented on #27
Here're some details:
- i've a `UITabbarController` which have 5 viewcontrollers.
- The home view controller which i set by calling `setSelectedIndex:` method.
-This home view controller have the method `showWithStatus:` in its `viewDidLoad` method.

When loading this view controller, the HUD is not shown, however, it's been shown on other viewcontrollers !!

[2015-02-16 14:22] foffux opened #29 "Progress HUD not shown: iOS 8"
Hello
Unfortunately I found out a regression in the progress HUD. Everything is working fine under iOS 7, but under iOS 8 I cannot see the progress HUD displayed and what I get in my output window is:

----------
2015-02-26 12:00:09.407 Angel[6336:100953] Unable to simultaneously satisfy constraints.
	Probably at least one of the constraints in the following list is one you don't want. Try this: (

[2015-02-16 18:05] foffux commented on #28
Hello kevin. Sorry for annoying you. I had to open another issue. With iOS
8 the progress HUD is not showing anymore even if I am using the same code
that works for iOS 7. I tried to explain in the issue. If you could have a
look and try to fix it it would be very nice. Tell me if you need
something. Thank you very much

Il venerdì 13 febbraio 2015, Kevin Hirsch <notifications@github.com> ha
scrit

[2015-02-16 21:45] kevin-hirsch commented on #27
So calling `[KVNProgress showErrorWithStatus:@"In Progress"]` is not working in `application:didFinishLaunchingWithOptions:` method from your `AppDelegate` and also from the `viewDidLoad` of the first `UIViewController` contained in your `UITabbarController` at app launch?
I will try to reproduce it and fix it ;)

[2015-02-16 21:49] kevin-hirsch commented on #29
Hello @foffux, can you show me the `KVNConfiguration` you use exactly? So I can try reproduce it and fix it.

[2015-02-16 23:25] justvanbloom commented on #29
here also.. i've implemented it on a other uiview loaded at runtime. when i init kvn it says 'Unable to simultaneously satisfy constraints.' ... maybe you should do a version without autolayout? if something is not so correct it messes up all the things and kvn wont show up.

[2015-02-17 04:13] Meseery commented on #27
Yes, exactly ,Thanks :)

[2015-02-17 08:39] foffux commented on #29
Hello Kevin.
I think @justvanbloom could be right, in fact today with same code with same test, I cannot reproduce that issue anymore, even my self...
My
[code]
is really a basic one:

[code]

Also for me: maybe you should do a version without auto layout? Or at least think about it?

Thank you very much.

[2015-02-18 02:42] justvanbloom commented on #29
HA! its magic! ok.
so it's gone! it was a faulty autolayout issue by me. opened in xcode beta (latest) and i saw the broken things. sry. for all others: use masonry pod to get rid of..

[2015-02-18 07:50] kevin-hirsch commented on #29
Hello @justvanbloom, what did you do to make this issue go away?
Is it related to Xcode 6.3 beta, or to Masonry pod?

Thanks for the enlightenment!

[2015-02-18 07:59] foffux commented on #29
I do not think it is due to Xcode 6.3 beta because I am not using it but
standard release. So I think it is Masonry pod, even if I do not know what
it is exactly.
I have to check.
Thank you anyway.

2015-02-18 8:50 GMT+01:00 Kevin Hirsch <notifications@github.com>:

[2015-02-18 08:02] kevin-hirsch commented on #29
So do we agree on closing this issue?

[2015-02-18 08:05] foffux commented on #29
If I was you I would wait. Let me try that Masonry pod. Then I will tell
you and after that you will close it.
Thank you.

2015-02-18 9:02 GMT+01:00 Kevin Hirsch <notifications@github.com>:

[2015-02-18 08:05] kevin-hirsch commented on #29
Okay, I wait for your review then, thanks a lot ! :+1:

[2015-02-18 08:10] foffux commented on #29
hello @justvanbloom: could you please let us know how to use masonry pod tougher with KVNProgress?
Because, in my project, I am not using auto layout at all. So I cannot understand if this issue is related to KVNProgress that uses auto layout and so it must use it with masonry pod (in this case, how), or something else.
Can you get what I told? Is it clear?
Thank you.

[2015-02-18 15:00] justvanbloom commented on #29
Ok. So ist easy. Make a broken autolayout element in storyboard, after this view is displayed, kvn wont show normally. I'll make a pull these days. Just for be sure :)

[2015-02-18 17:41] foffux commented on #29
Ok I will wait for your pull then to see if this issue had been solved.
Kevin, me too I want to make a pull. It is a simple change I need and I
guess it could be helpful. I have never done before. How am I suppose to do
that? Thank you.

Il mercoledì 18 febbraio 2015, JustVanBlooM <notifications@github.com
<javascript:_e(%7B%7D,'cvml','notifications@github.com');>> ha scritto:

[2015-02-18 18:41] kevin-hirsch commented on #29
You mean you'll make a pull of last Masonry commits to be sure this issue is not fixed?

[2015-02-20 17:46] foffux commented on #29
Hello guys.
Any news about that pull that would fix this issue?
I am testing it on my real device and as soon as something goes wrong this controller is not shown anymore. iPhone 5s with iOS 8 is the device.
If it cannot be fixed, I have  unfortunately to swap on another progress hud.
I look forward to a positive answer.
Thank you so much

[2015-02-20 17:55] justvanbloom commented on #29
@foffux:
Same here. I thought i had fixed but its still not fixed. Can you post a log what goes wrong? Is it also a nslayout issue before?

[2015-02-20 20:23] foffux commented on #29
I will try to reproduce it.
I do not think in the we.
As soon as I can anyway and let you know
Thank you

[2015-02-23 09:32] justvanbloom commented on #29
any news on this?

[2015-02-23 13:08] foffux commented on #29
Here I am.
I cannot write you directly from inside github, I do not know how...

What I can see testing it directly in my reals device, but just with iOS 8,
is the following:

*2015-02-23 14:00:02.999 Angel[346:34741] Unable to simultaneously satisfy
constraints.*

* Probably at least one of the constraints in the following list is one you
don't want. Try this: (1) look at each constraint and try

[2015-02-23 17:10] justvanbloom commented on #29
Yep. Exactly this is it. So it seems autolayout is broken..

@kevin ?

[2015-02-24 08:44] kevin-hirsch commented on #29
Sorry for yesterday. I wasn't available.
So, to be clear, it is just an auto layout issue on iOS 8 that has nothing to do with another library like `Masonry` and it happens every time you show the `KVNProgress` HUD, no matter when in the app lifetime. Am I right ?
And, when you talk about iOS 8, you mean 8.0+ or a newer version ?

[2015-02-24 08:55] foffux commented on #29
Hello guys:
yes is an auto layout issue on iOS 8, anyway every logs I retrieved I have already attached them to this issue so you can have a look at them.
I am using iOS 8.1.2.
It does not happen every time but very often. In iOS 7 no issue at all, never. Yes, no matter when in the app lifetime.
Okay thank you very much, because I really need this controller and I would keep using it.

[2015-02-24 10:09] kevin-hirsch commented on #29
Thank you for the details! I will check that tonight (GMT+1) ;)

[2015-02-24 10:12] foffux commented on #29
Okay, have a nice chase... :-)
Let me know if you need something, I would be able to close this issue in a few time.

[2015-02-24 10:15] kevin-hirsch commented on #29
Thanks!

[2015-02-24 15:55] justvanbloom commented on #29
Great! i will also use this controller for a few projects. Ofc including Acknowledgments in AppSettings / info!

[2015-02-24 22:39] kevin-hirsch commented on #29
It seems that there is a problem coming from the width constraint on the contentView:

    NSLayoutConstraint: @"H:[UIImageView(-50)]"

It shouldn't be -50. It should be a positive number.

I was not able to reproduce the bug using Simulator iPhone 5 and 6 on iOS 8.1 and my own iPhone 6 device on iOS 8.1.3 using Xcode 6.1.1 (6A2008a). I tested all orientations also.

@foffux, can you precise some

[2015-02-25 00:48] justvanbloom commented on #29
Xcode Version 6.1.1 (6A2008a)
iPhone 6 and 6 Plus
KVNProgress latest from pods
Portrait..

Same :) ok. so ist just this?

[2015-02-25 07:05] foffux commented on #29
Xcode: same version you used if I ma not wrong. I have to check.
Kvnprogress: latest from cocoa pods
Device: iPhone 5 s, iOS 8.1.2
Orientation: just portrait

Pay attention: it does not happen every time. But when happens then it won't show anymore.
It happens more often in the device than in the simulator. But always with iOS 8 not in iOS 7.
When happens in the console you can see logs I attached

[2015-02-25 08:09] kevin-hirsch commented on #29
Strange, I am not able to reproduce it. If you want to debug it, I created a branch `invisible-hud`. Just checkout the branch and change use the KVNPRogress.m file to have the logs. Thanks!

[2015-02-25 15:51] foffux commented on #29
Here I am.
I am able to reproduce this bug systematically, at least in my project.
Here you are logs you inserted:

2015-04-01 12:02:09.109 Angel[5591:104643] ===== SHOWING HUD
2015-04-01 12:02:09.412 Angel[5591:104643] ===== SHOWING HUD
2015-04-01 12:02:09.413 Angel[5591:104643] ==== SETTING UI
2015-04-01 12:02:09.413 Angel[5591:104643] ===== SETTING BASE CONSTRAINTS
2015-04-01 12:02:09.413 Angel

[2015-02-25 16:08] kevin-hirsch commented on #29
Thank you very much! The problem is now obvious:

    bounds: {{0, 0}, {0, 0}}

This is not normal. I will look at it tomorrow ;)

[2015-02-25 16:21] foffux commented on #29
Ah okay, of course:
[code]
is not a good value...:-)
Perfect.
I will look forward to seeing what was the actual problem.
Thank you.

[2015-02-25 16:24] justvanbloom commented on #29
Ah! Digging into it later..

[2015-02-27 08:10] foffux commented on #29
Hello guys
Any good news?
Think you

[2015-02-27 08:21] kevin-hirsch commented on #29
In the method `addToView:` the constraint are set to the key window if displaying in fullscreen. Maybe the problem here is that your projects are not using auto layout. Can you confirm that, @foffux & @justvanbloom?

[2015-02-27 08:33] justvanbloom commented on #29
I use autolayout in xib based things and mixed in code something with, something absolute positioned.. Well, just check in view.bounds for 0,0,0,0 on creation?

[2015-02-27 08:34] foffux commented on #29
Absolutely, I am not using auto layout in all my projects and I do not want to use them, at least at the moment. So if your controller could work also without auto layout it should be very nice and helpful.
Thank you very much and let us know how it proceeds.

[2015-02-27 09:04] kevin-hirsch commented on #29
@foffux: I don't want to remove auto layout from my project but I will do a new commit tonight (GMT+1) with a fix. You will be able to test it and tell me if it solves your problem ;)

[2015-02-27 09:08] foffux commented on #29
Okay okay no problem at all with auto layout. The only thing I am interested in is that I am able to use your controller. Just that.
No problem with testing your fixing commit, but unfortunately I am not at home untill next tuesday. So I will test it on that day. I do not know if in the meantime @justvanbloom can test it too. Anyway, as soon as I will come back home I will test it.
Thank you.

[2015-02-27 09:10] kevin-hirsch commented on #29
@foffux: no problem!

[2015-02-27 09:12] justvanbloom commented on #29
Can test it asap:)

[2015-02-27 09:13] foffux commented on #29
ok great
see you soon then with this issue closed, I hope

[2015-02-28 07:16] kevin-hirsch commented on #29
I made a new commit to try to fix this issue. You can test it by pulling branch `invisible-hud`.
I also add a new log just after:

    ===== ADDING TO SUPERVIEW:

to check that the superview bounds are correct:

    = superview bounds:

Hopes it solves the problem. Keep me updated. Thanks!

[2015-02-28 18:32] justvanbloom commented on #29
hmm.. current state:

===== SHOWING HUD
2015-02-28 19:29:36.606  -beta1[487:68980] ===== ADDING TO SUPERVIEW: <UIWindow: 0x156d0db40; frame = (0 0; 0 0); hidden = YES; gestureRecognizers = <NSArray: 0x174441ce0>; layer = <UIWindowLayer: 0x17442bf40>>
2015-02-28 19:29:36.606  -beta1[487:68980] = superview bounds: {{0, 0}, {0, 0}}
2015-02-28 19:29:36.611  -beta1[487:68980] ===== FINISH ADDING TO SUP

[2015-02-28 18:36] justvanbloom commented on #29
why this? before i have a broken constraint added to uiview.. and if its there it wont show.
2015-02-28 19:29:36.606 -beta1[487:68980] = superview bounds: {{0, 0}, {0, 0}}
i've added KVN AFTER the broken contraint from the other view is shoed.. if it gets added before there is no probelm showing KVN.
So simply checking superview bounds for nil eg. {{0, 0}, {0, 0}} and grad uiapplication mainscreen

[2015-02-28 18:46] justvanbloom commented on #29
so the fix is:
superview = [UIApplication sharedApplication].keyWindow;
    if (!superview) {
        superview = [[UIApplication sharedApplication].windows objectAtIndex:0];
    }
in

- (void)addToView:(UIView *)superview
{
#warning fix
    superview = [UIApplication sharedApplication].keyWindow;
    if (!superview) {
        superview = [[UIApplication sharedApplication].windows objectAtIndex:0]

[2015-02-28 18:47] justvanbloom commented on #29
Will attempt to recover by breaking constraint

<NSLayoutConstraint:0x1742896f0 UILabel:0x13fd12b80.width == 217>

Make a symbolic breakpoint at UIViewAlertForUnsatisfiableConstraints to catch this in the debugger.

The methods in the UIConstraintBasedLayoutDebugging category on UIView listed in <UIKit/UIView.h> may also be helpful.

2015-02-28 19:45:15.220 beta1[493:71552] -[MasterViewController

[2015-03-01 09:36] foffux commented on #29
Hello guys
So if I can understand, the state of art is that this issue is still there. Right?
@kevin: any news after latest comments made in your fix?
Thank you

[2015-03-01 14:31] justvanbloom commented on #29
@foffux: temporally fix: search -(void)addToView

Insert fix

-(void)addToView:(UIView *)superview
{
#warning fix
superview = [UIApplication sharedApplication].keyWindow;
if (!superview) {
superview = [[UIApplication sharedApplication].windows objectAtIndex:0];
}
#warning fix

[2015-03-01 17:29] foffux commented on #29
Okay thank you I will try as soon as I will come back home. Should this fix the issue? Have you already try it?

[2015-03-01 17:48] justvanbloom commented on #29
Jep. This fixed it.

[2015-03-01 18:40] kevin-hirsch commented on #29
@justvanbloom: when adding the full screen HUD, it is calling:

[code]

So changing the way to get the current window to yours should resolve the problem:

[code]

Do you agree? Can I make a new commit with these modifications so you can check that everything works correctly?

[2015-03-01 18:53] justvanbloom commented on #29
ah! yep.

[2015-03-01 20:08] kevin-hirsch commented on #29
I think doing the for through all views is better instead of `[[UIApplication sharedApplication].windows objectAtIndex:0]` but I will put a new commit with my code above so you will be able to test it and validate that it works, okay for you?

[2015-03-02 13:04] Ozymand1as opened #32 "HUD freezes if switching apps or switching to from Home Screen"
The HUD freezes up if you go to the home screen, and then switch back to the app. Sometimes, the HUD also freezes if you try to switch between apps using Multitasking.

The only way to resolve it is to restart the app.

[2015-03-02 13:09] kevin-hirsch commented on #32
You mean the HUD's circle animation?

[2015-03-02 13:10] Ozymand1as commented on #32
Yeah. The circle animation stops.

[2015-03-02 13:15] kevin-hirsch commented on #32
I already noticed it. When you have the infinite loading circle, it should restart the animation when application resumes. I will look at some post like [this one](http://stackoverflow.com/questions/7568567/restoring-animation-where-it-left-off-when-app-resumes-from-background) to try to fix this issue.

[2015-03-02 13:16] Ozymand1as commented on #32
That's the thing. Sometimes it does, and sometimes it doesn't.

I'm having trouble predicting that behaviour.

Thanks for looking into it. :)

—
Solomon, Sam

On Mon, Mar 2, 2015 at 6:45 PM, Kevin Hirsch <notifications@github.com>
wrote:

[2015-03-03 01:19] justvanbloom commented on #29
[[UIApplication sharedApplication].windows objectAtIndex:0] is topview.. ok wayne! both works! great.

[2015-03-03 09:52] kevin-hirsch commented on #29
Great!
@foffux: can you confirm this works for you too?
I will merge it to develop and make a new cocoa pods version tomorrow night ;)

[2015-03-03 11:25] foffux commented on #29
Hello
I can test if today in the afternoon.
Can you tell what exactly I have to take it to test the state of art?
Thank you

Inviato da iPhone

[2015-03-03 13:24] kevin-hirsch commented on #29
@foffux: You just have to pull the `invisible-hud` branch and change the source file `KVNProgress.m` in your project by the one from `invisible-hud` branch and test ;)

[2015-03-03 21:18] foffux commented on #29
Hello
I was testing your latest fixes.
It is not simple to explain, but the very latest fix (6139b95) I do not think is a good fix for every situation. In particular, I can see in some situation that the HUD is first shown but suddenly it disappears and it is not good at all. But in some other situation this does not happen.
In my opinion this could happen when another view is shown in the same ti

[2015-03-04 22:30] kevin-hirsch commented on #29
Hello @foffux,

You are right, I think that displaying `UIAlertView` is adding a `UIWindow` with the alert view inside and this window is set as the `keyWindow` with a `window.windowLevel == UIWindowLevelAlert`.
So displaying `KVNProgress` too quick after displaying an alert view is adding the HUD to the alert view window and this is not correct.
@justvanbloom: I'm wondering, where do you call KVN

[2015-03-05 14:51] foffux commented on #29
Hello Kevin.
So, your advice, if I can understand, is to keep all your current fixes in
invisible-hud and pay attention to not call KVNProgress too quick when
alert view is still present. Am I right?
I will try it, hoping to solve my problems.
I will let you know as soon as possible.
Thank you.

2015-03-04 23:30 GMT+01:00 Kevin Hirsch <notifications@github.com>:

[2015-03-05 17:26] kevin-hirsch commented on #29
@foffux, what I am saying is that I think I should undo commit 6139b95 because it is indeed messing with alert views but I want to be sure to resolve @justvanbloom's problem who needs commit 6139b95.

@justvanbloom, any news for my comment [above](https://github.com/kevin-hirsch/KVNProgress/issues/29#issuecomment-77264548)?

[2015-03-06 06:39] foffux commented on #29
Ah okay kevin. But then, we have not solved the main problem yet because even if I told you with just the fix related to setting bounds it è was disappeared, in fact this is not true because unfortunately I can see the same issue with the same debug traces dispyed. So do we need to restart   the chase?
Let me know guys.

Inviato da iPhone

[2015-03-06 08:06] justvanbloom commented on #29
Weil, besides my fix worked for fullscreen. I'll make later a fix for controller in uiview als kevin mantione my pull request wont fix this.
Stay tuned.

Von meinem iPhone gesendet

[2015-03-06 08:22] kevin-hirsch commented on #29
@foffux: If you still have the problem, can you put here the logs you have in your console please?

[2015-03-06 16:25] foffux commented on #29
Hello Kevin.
I tested more in depth my app. Here you are my conclusions.
All fixes you did in
[code]

are good because now I can see HUD in almost every scenarios with good logs. Take a look below:
[code]

There is just a scenario where I can see problems, but I do not think related to same issue. This scenario is when I launch HUD after tapping an alert button. In this scenario the bad thing is t

[2015-03-06 17:46] kevin-hirsch commented on #29
@foffux, everything seems great except for the window the `KVNProgress` is added on, on iOS 8:

    _UIAlertControllerShimPresenterWindow

and on iOS 7:

    _UIModalItemHostingWindow

Do you have the same logs with the same windows without code from commit 6139b95?

Also, when are you calling `KVNProgress` after a `UIAlertView`: `alertView:clickedButtonAtIndex:` or `alertView:willDismissWithButto

[2015-03-07 14:20] foffux commented on #29
Yes yes yes yes
You definitively did it!!!
My terrible mistake on uialert view. Now launching hud after dismiss,
everything works like a charm.
Take a look at attached files.
I think you can close this issue and also merge invisible-hud branch,
without traces. Also my old pull request, so that I can get the same
current and working environment.
Thank you so much.

Inviato da iPhone

Il giorno 06/m

[2015-03-07 19:05] kevin-hirsch commented on #29
@foffux: Great! I'm glad it fixes your problem :)
I will merge invisible-hud tommorow and create a new pod version ;)

You are talking about your old pull request, which one is it and what do you want me to do?

[2015-03-08 07:54] foffux commented on #29
Okay perfect. I will be waiting for it.
Just talking about that pull that let you choose the alpha background tint color value, but I think you have already merge it. Am I right?
Thank you for everything.

Inviato da iPad

[2015-03-08 10:25] kevin-hirsch commented on #29
Yes I have merged it already, good idea by the way! :+1:

[2015-03-08 16:13] #29 closed

[2015-03-08 16:17] kevin-hirsch commented on #8
From now on, just change the `KVNProgress.configuration.backgroundFillColor = [UIColor theColorYouWant]` to change the color dynamically.

[2015-03-08 16:17] #8 closed

[2015-03-08 16:23] kevin-hirsch commented on #26
@SolomonBier, any updates on this issue?

[2015-03-08 18:51] SolomonBier commented on #26
@kevin-hirsch updated to newer version and issue disappeared. Closing !

[2015-03-08 18:51] #26 closed

[2015-03-16 09:40] EzimetYusup opened #34 "can u use FXBlurView for the blurring part?"
FXBlurView has some dynamic blurring feature , Hope you  use   it  for blur

[2015-03-16 09:47] kevin-hirsch commented on #34
Yes I will. It seems good!

[2015-03-16 10:43] EzimetYusup commented on #34
@kevin-hirsch  thanks , waiting for it!

[2015-03-20 22:04] JustinDMoore commented on #13
Were you able to duplicate this? Just following up on it. We're beginning beta in a week or two and like to resolve this.

[2015-03-21 20:48] ZaneH commented on #13
It's because it's in a block right?

[2015-03-21 20:50] JustinDMoore commented on #13
I don't see why calling success from a block makes a difference. Can you elaborate?

[2015-03-21 21:18] ZaneH commented on #13
Blocks are run on a different thread and since the methods are class methods it's initializing a new object for the success method. I could be wrong, but I'm fairly sure that's what's happening.

[2015-03-22 03:15] JustinDMoore commented on #13
Good catch. I'm going to play with it when I get home in a couple hours. Could explain another issue I'm having.

[2015-03-22 12:13] kevin-hirsch commented on #13
Hello @JustinDMoore, calling:

[code]

is causing me the same glitch as you have.
I don't that calling it from a block is what causes a problem but @ZaneH is right, blocks are running on different threads (usually not the main one) and all UI is supposed to be executed on the main thread, if not, it can causes UI bugs or even do not make run your UI changes at all. So, when in a block, don't forge

[2015-03-22 13:52] #13 closed

[2015-03-22 14:20] kevin-hirsch commented on #13
@JustinDMoore, can you download latest version of the repo (or pod 2.2.1) and test if everything is fixed for you? Thanks! :)

[2015-03-22 22:49] JustinDMoore commented on #13
@kevin-hirsch I did wrap my UI related in the main thread last night. I should have known better ;) Only after updating to 2.2.1 was the problem resolved. Thanks for your work on this. It's really good.

[2015-03-23 09:04] kevin-hirsch commented on #13
Thank you for your feedback and for finding the bug ! :) :+1:

[2015-03-25 10:20] JacquesPienaar opened #35 "Weird dynamic resizing jumping on show"
When calling  [KVNProgress show]; once it is already visible the hud resizes its view, which looks like its spazzing out.

[2015-03-25 10:46] kevin-hirsch commented on #35
Are you changing from a `showWithStatus:` to a simple `show`?

[2015-03-25 11:26] JacquesPienaar commented on #35
yes
![ios simulator screen shot 25 mar 2015 12 22 05 pm](https://cloud.githubusercontent.com/assets/323038/6823616/91d8655c-d2f2-11e4-8638-e6637fd36e9a.png)
![ios simulator screen shot 25 mar 2015 12 22 06 pm](https://cloud.githubusercontent.com/assets/323038/6823617/91db4d44-d2f2-11e4-886a-e59ad3d367fb.png)

[2015-03-25 11:28] kevin-hirsch commented on #35
This is not supported for the moment. A workaround is keep a status or not at all for each successive HUD's.

[2015-04-16 12:59] joeblau opened #36 "Adding Animated Flag To Presentation (show) And Dismissing (hide)"
I was thinking about modifying this library to allow toggling of animations like iOS's native UI View Controllers.  Right now the KVNLayoutAnimationDuration property is not exposed and what I'm proposing would be a major version point release breaking change.

Essentially, I want to propose adding an animated flag to all shows/dismisses in KVN just like apple exposes on its [View Controller](https

[2015-04-29 19:23] kevin-hirsch commented on #36
Hello @joeblau,

Thank you for your proposal. I am just wondering what could be the benefit of that. Why would we want to show the HUD in a non animated way? Do you need this feature for something special?
Also, when possible, I would like to keep `KVNProgress` calls shorts (`[KVNProgress show]`, `[KVNProgress dismiss]`, `[KVNProgress showWithStatus:@""]`).

[2015-04-30 02:20] joeblau commented on #36
Right now I have a case where I navigate to a View Controller and there is information on that screen.  I want to block the user from modifying the screen and show the KVNProgress modally which I can do, but only in an animated fashion.  I evaluate whether or not KVNProgress should be shown when the view loads, but I can't show the view without an animation so it looks like a glitch where the view

[2015-04-30 08:16] kevin-hirsch commented on #36
Would it not okay to show the `KVNProgress` when you click on "Finish Quiz" and then, behind the HUD push to the next screen?

[2015-05-01 01:19] joeblau commented on #36
I can, but the quiz state can be altered from the Watch or an Extension.

[2015-05-07 02:11] qky1412 opened #39 "why my KVNProgress's blur background show previous ViewController's image"
I'm using swift, say from ViewControllerA -> ViewControllerB, I show the KVNProgress after the network request callback in ViewControllerB's viewDidLoad, the background of the KVNProgress shows blur image of ViewControllerA's image, why?

[2015-05-08 06:30] kevin-hirsch commented on #39
This problem has nothing to do with Swift. It is because `KVNProgress` takes a static screenshot before being showed, and this static screenshot is the one of ViewControllerA at that time. It will be fixed soon by a new release of `KVNProgress` with live blur.

[2015-05-10 14:05] joeblau commented on #36
@kevin-hirsch Actually, you know what, we can close this ticket.  I'm going to rebuild this using segues so i'll have access to the native presenting and dismissing functionality.

[2015-05-10 14:05] #36 closed

[2015-05-10 14:10] kevin-hirsch commented on #36
Okay!

[2015-05-12 09:46] foffux opened #40 "A way to decrease time to get back an "Error" shown on HUD"
Hello @kevin-hirsch .
I want to ask for a question. When I use tour HUD in my apps, it could happen that network connection is not good or even not present at all. In these scenarios, since I configured an infinite loop circle, app could stop and wait for a connection error response for a long time. My question is: is there any setup I could use to decrease the maximum connection time I will wait

[2015-05-13 08:30] kevin-hirsch commented on #40
Hi @foffux,

No, there is no network connection helper for the moment.
But what you could do is:
- check if internet connection is available before executing your request and showing the HUD (http://stackoverflow.com/a/3597085/2571566)
- specify a maximum time to wait for server response to avoid too long calls and show an error if this time is reached without any response from the server. (also c

[2015-05-13 10:56] foffux commented on #40
Hello.
I did what you said. I think, at least at the moment, it is okay for me.
Thank you for your support.

2015-05-13 10:30 GMT+02:00 Kevin Hirsch <notifications@github.com>:

[2015-05-13 12:10] kevin-hirsch commented on #40
Hello! I'm glad to help :)
You're welcome.

I'm closing this issue.

[2015-05-13 12:10] #40 closed

[2015-05-15 13:15] FilipZawada commented on #15
Hey, has this been resolved? I'm seeing similar behavior in my app, likely due to this bug.

[2015-05-15 14:57] KiranPanesar commented on #15
We are using @mobilejohnw's fork in our project: https://github.com/mobilejohnw/KVNProgress

It has resolved the issues we've experienced.

[2015-05-15 15:11] FilipZawada commented on #15
Cool, let me give it a try

[2015-05-30 23:34] djbe opened #41 "HUD sometimes disappears because of old dismiss timer"
When a HUD has a tap to dismiss button and auto-hide after a few seconds, a race condition exists when the HUD has been dismissed through a tap and a new HUD is shown shortly thereafter.

##### Scenario
- user starts a task with tap on button, progress HUD is shown
- task finishes shortly thereafter, success HUD is shown, with auto-dismiss after 3 seconds and tap-to-dismiss block.
- user taps on s

[2015-06-01 10:00] chlebta opened #42 "Pod Installation Issue"
I'm using pod to install the library and I got this error
![capture d ecran 2015-06-01 a 10 54 49](https://cloud.githubusercontent.com/assets/1204608/7910764/502e8e28-084f-11e5-976b-1ea8e132b538.png)

[2015-06-01 10:12] kevin-hirsch commented on #42
Can you re-upload the screenshot, please?

[2015-06-01 10:14] chlebta commented on #42
@kevin-hirsch  done

[2015-06-01 11:07] kevin-hirsch commented on #42
That's strange! Did you try to remove the `/Pods` folder and to redo `pod install`?

[2015-06-01 16:21] AttoLee opened #43 "a parameter list of without types is only allowed in a function definition"
In a project generated by unity, I drag the files into the project, I got the error message.
![screen shot 2015-06-02 at 12 17 35 am](https://cloud.githubusercontent.com/assets/4199324/7917445/0d4a246e-08bd-11e5-9aa0-4d188657d665.png)

[2015-06-01 16:22] kevin-hirsch commented on #43
I see 4 errors on this line, can you tell me the others?

[2015-06-01 16:23] AttoLee commented on #43
![screen shot 2015-06-02 at 12 23 16 am](https://cloud.githubusercontent.com/assets/4199324/7917523/9a05d11e-08bd-11e5-91fc-377c74feff9c.png)

[2015-06-01 16:36] kevin-hirsch commented on #43
The project is in Objective-C?
You should not have any problem with this line.

It's 2 macros:

[code]

which results in:

[code]

[2015-06-01 16:42] AttoLee commented on #43
I also see .cpp and .mm file in the project.

[2015-06-01 16:49] AttoLee commented on #43
There is a another error, which also confuse me.
![screen shot 2015-06-02 at 12 47 27 am](https://cloud.githubusercontent.com/assets/4199324/7918035/2c17aa5c-08c1-11e5-8226-59e746a1920b.png)

[2015-06-01 17:06] kevin-hirsch commented on #43
There shouldn't be .cpp and .mm files.
Can you show me an image of the files in for KVNProgress, please?
For the `@import`'s, see this [post](https://github.com/dogo/SCLAlertView/issues/77#issuecomment-77842437).

[2015-06-01 17:08] AttoLee commented on #43
![screen shot 2015-06-02 at 1 08 11 am](https://cloud.githubusercontent.com/assets/4199324/7918431/e2f43090-08c3-11e5-9956-e0a12a666988.png)

[2015-06-01 17:19] kevin-hirsch commented on #43
This seems correct.

Can you try changing:

[code]

to

[code]

And tell me if it changes something?

[2015-06-01 17:25] AttoLee commented on #43
Ok now!

[2015-06-01 17:42] #43 closed

[2015-06-01 18:03] kevin-hirsch commented on #43
Ok, it's weird. I will change this in the next release.

[2015-06-02 10:45] chlebta commented on #42
@kevin-hirsch  NO I can't remove pod folder I got some other pods any other solutions

[2015-06-02 12:47] kevin-hirsch commented on #42
Doing `pod install` will re-install the Pods folder ;)

[2015-06-02 13:28] chlebta commented on #42
I got some modified file in pod this why I can't delete all pods

[2015-06-02 13:45] kevin-hirsch commented on #42
Then you can just delete KVNProgress folder inside Pods folder and do pod install ;)

[2015-06-02 14:04] chlebta commented on #42
Than's I solved it, it there's was another var named successColor this way

[2015-06-02 14:49] kevin-hirsch commented on #42
Okay, great!

[2015-06-02 14:49] #42 closed

[2015-06-02 19:55] pranavss11 opened #44 "Expose status bar color change"
Looks like the color is updated for the status bar based on the uicolor category. Is there any way to not do this at the moment and keep my app status bar color?

[2015-06-02 20:00] kevin-hirsch commented on #44
Hello @pranavss11, there is no way to do that for the moment. If the HUD is displayed in fullscreen mode, the status bar could change in function of the HUD background.
Is there something not working well with this feature?

[2015-06-02 21:03] pranavss11 commented on #44
My app unfortunately requires me to keep the colors rather than changing it while loading full screen. I've gone ahead and swizzled out the status bar as a temp fix.

[code]

[2015-06-03 08:44] kevin-hirsch commented on #44
I will add a boolean to `KVNProgressConfiguration` to change that behavior in the next release.

[2015-06-03 09:13] pranavss11 commented on #44
Thank you!

Sent from my iPhone

[2015-06-05 13:47] Frohmen opened #45 "Showing KVNProgress on table view fails"
I'm trying to show KVNProgress on a table view, but have run into some trouble. Check out the picture below to see how it looks like.

![kvnprogress](https://cloud.githubusercontent.com/assets/2903455/8007117/fe6fdb5c-0b99-11e5-8448-3daa923dfb8d.jpg)

[2015-06-11 14:00] markfulo opened #46 "setupStopUI is not called when the configuration is set to showStop"
It still shows the default HUD when I set the config to showStop to YES and added a block method on tapBlock and also added stopColor to red and stopRelativeHeight to 0.3f. I have added a log message on setupStopUI on KVNProgress.m but it is not called when the HUD is displayed. The stop feature is working but the stop UI is not there.

[2015-06-26 13:08] leecrossley commented on #3
This would be a great feature, as you could also have different icons associated with different status... Any plans still to implement?

[2015-06-29 07:23] MacPu opened #47 "KVNProgress dismiss at error time when it's invoked in UIAlertView delegate"
KVNProgress will dismiss immediately when it invoked in UIAlertView delegate. and it doesn't invoke "showSuccess" "showError"or"dismiss" methods yet.

[2015-06-29 09:06] kevin-hirsch commented on #47
It's a known when calling `KVNProgress` after a `UIAlertView`.
The workaround is to call the `KVNProgress` in `alertView:didDismissWithButtonIndex:` instead of `alertView::willDismissWithButtonIndex:`.

[2015-07-06 07:25] MacPu commented on #47
Thanks!

[2015-07-13 05:49] nuttikung opened #48 "KVNProgress bug with swift."
I have the problem with KVNProgress.

- showProgress(0, "Downloading...")  Show Correct
- updateProgress(Some CGFLoat value, animate:trre )  >> It's a problem

Not sure it's delay? because I watched it's moving to 1.0 have a few delay but for 0.1 0.2 etc. Nothing moves.

[2015-07-14 19:17] kevin-hirsch commented on #48
Hello @nuttikung,

Can you tell me where are you calling those methods?

[2015-07-14 19:21] kevin-hirsch commented on #3
I will re-write the project in Swift in the next months, I can add it to the list of new features ;)
What you would want exactly?
- A custom image for the checkmark and the cross in the circle
- A custom image for the checkmark and the cross without the circle
- A custom image to show with a text, indecent from "success" or "error" API's

[2015-07-14 19:31] kevin-hirsch commented on #46
Hello @markfulo,

The `setupStopUI` is only called for a determinate progress. (For that, you have to call `showProgress:...` and then `updateProgress:animated:`)
Also, the `setupStopUI` method begins with these lines of code:

[code]

That means that for the stop button to show, you have to:
- have your configuration with the `BOOL showStop` to `YES`
- not have a `tapBlock` set on the HUD
- and h

[2015-07-15 02:44] nuttikung commented on #48
<img width="949" alt="screen shot 2015-07-15 at 9 42 51 am" src="https://cloud.githubusercontent.com/assets/8456620/8689740/f796a422-2ad5-11e5-929f-fcb91d6c0686.png">

Here is my code. I put it for update percent when user download file. but it's not update progress anytime.

[2015-07-15 20:06] kevin-hirsch commented on #48
You have to call first `showProgress` and then update it via `updateProgress`. I do not see any `showProgress` in your screenshot. Could that be your issue?

[2015-07-16 03:20] nuttikung commented on #48
No,I already have it. Now I know what's bug for me I think my variable (percentage is more 1 decimal?) It's can't update.  Now I fixed it.

Thank you so much.

[2015-07-17 07:47] kevin-hirsch commented on #48
Hello @nuttikung,

The percentage is a number between **0** and **1**.
How did you fix your problem?

[2015-07-17 12:09] markfulo commented on #46
@kevin-hirsch, alright, I will test this one. Thanks!

[2015-07-17 12:09] #46 closed

[2015-07-21 21:50] mark2b opened #49 "Can't add "stop" button for indeterminate progress"
Can't add "stop" button for indeterminate progress. Is it implementation problem only ? As I saw in the code button will rotate together with circle.

[2015-07-30 17:22] LandonRover commented on #39
@kevin-hirsch is there a way to kill the snapshot until the live blur release?

[2015-07-31 08:00] kevin-hirsch commented on #39
@LandonRover Not for now. You can maybe try to delay a little bit the apparition of the HUD?

[2015-07-31 12:49] LandonRover commented on #39
@kevin-hirsch, I was thinking that this was my issue, but it was late and I was wrong. Don't want to hijack the thread, but the actual issue I am having is an edge case and has to do with the blur being distorted when presented as "fullscreen" but attached to a small banner-like view.

[2015-08-14 09:37] kronik commented on #49
I also found this issue. Basically showStop property is in this repo but cocoapods repo hasn't been updated yet. Could you please update it?

[2015-08-14 14:53] ResultsMayVary opened #50 "Progress view does not display in with accessibility bold enabled"
I have not figured out to what extent this bug exists but I do know it exists in my specific context.

I have many UIViews inside a UIScrollView that I am paging through. The last of which I add the KVNProgress view to with a KVNProgressBackgroundTypeSolid and clearColor backgroundColor.

When the accessibility option Bold text is enabled this causes the scrollViews height to get updated to 0 and

[2015-08-25 05:42] mohpor opened #51 "minimumDisplayTime not working"
Hi,
I have a project in which I'm using this wonderful library.
I have a situation where I want to show an status for at least `x` seconds. I use the configuration to set `minimumDisplayTime`, set the config for `KVNProgress` and show the status, but unfortunately when I call `dismissWithCompletion:` it doesn't honor the `x` seconds and gets dismissed prematurely! I'm making sure it's called on ma

[2015-08-25 05:52] mohpor opened #52 "minimumDelayBeforeDisplay feature"
This wonderful library already supports `minimumDisplayTime` and it is very useful, but I need something  to better handle unknown operations. what I mean is: my app' going to call a web service to acquire some information, naturally it can't be sure how long it'll take, it can be less than a second, or up to a few seconds depending on network speed. now, with all the tools we have now, we can dis

[2015-09-05 00:01] JustinDMoore opened #53 "Swift Question"
I am converting my existing project to Swift and just came across a small hiccup

Previously, I assigned a tap block as such:
KVNProgressConfiguration *config = [Configuration errorProgressConfig];
config.tapBlock = ^(KVNProgress *progressView) {
            KVNProgress.configuration.tapBlock = nil;
            dispatch_async(dispatch_get_main_queue(), ^{
                [KVNProgress dismiss];

[2015-09-05 00:06] JustinDMoore commented on #53
?

 config.tapBlock = {
                progressView in
                dispatch_async(dispatch_get_main_queue()) { [unowned self] in
                    KVNProgress.dismiss()
                }
                self.goBack()
            }

[2015-09-12 04:56] hirenpanchal1608 commented on #35
I am also getting this issue.

[2015-09-30 12:18] AlexanderKaraberov opened #54 "Loader view not visible on iOS 9.0"
Lib was installed via CocoaPods. After calling `KVNProgress.showWithStatus("Please wait")` nothing happened and loader not visible. But when I call it like this: "KVNProgress.showWithStatus("Please wait", onView: self.view)", i see just a spinning loader without blur and background (If I set `backgroundType = KVNProgressBackgroundType.Solid` then I see the background). The same behaviour when I ju

[2015-10-06 17:32] benyboariu commented on #51
I think I experienced this problem as well. Did you manage to find a fix? Seems like this library is not maintained anymore :(

[2015-10-07 08:06] paoloandrea opened #55 "Custom animation on "indeterminate""
How i add a custom animation in indeterminate progress?

[2015-10-13 05:26] sdalai opened #56 "After POD update Xcode is failing due to KNProgress error"
Here is error code

ld: library not found for -lPods-KVNProgress
clang: error: linker command failed with exit code 1 (use -v to see invocation)

[2015-10-15 14:56] paoloandrea opened #57 "Stop button on Cocoapods"
Hi,
i downloaded the cocoapods version and the stop button did not fount the function.
I could't use the cocoapods version.

Please fix it.
p

[2015-10-23 12:35] Ashish145 commented on #54
Also getting same issue. Did you find any solution ?

[2015-11-10 09:56] kublaios opened #59 "showSuccessWithStatus layout is buggy when overlapped with UINotification registrar alert view"
After my application launches, I'm downloading data and showing the status with KVNProgress. After the download is complete, I'm showing the success status with a message.

However, if the user is launching the application for the first time and if I'm trying to register for remote notifications, the success layout behaves strange when the user taps on an option to dismiss the alert view.

This do

[2015-11-10 15:25] kevin-hirsch commented on #59
Hello @kublaios!

I noticed it also but I don't know what's causing this weird behaviour. I should take a look. Did you find anything yet?

[2015-11-10 15:30] kublaios commented on #59
Unfortunately not. I can tell it does the same no matter where I call the showSuccess method, inside a block or after view appears. The strange thing is that it won't happen with UIAlertViews. I'm sure it would probably occur with alerts popped up from system like low battery etc.

[2015-11-10 15:55] #59 closed

[2015-11-10 15:58] kevin-hirsch commented on #59
Should be fixed now.
When putting app on background and then foreground again, the indeterminate progress animation was stopped and I added some code to fix that but it was not checking correctly that we were in an indeterminate progress state. And so it was making the success HUD spin.

[2015-11-18 02:35] ctaodream commented on #54
this issue appear in viewDidLoad
when I show it in viewDidAppear , it ok

[2015-11-23 11:11] Urkman commented on #39
Any news on this? It still take a screenshot of the whole screen.
But it should take a screenshot of the view I want to address...

[2015-11-23 12:49] kevin-hirsch commented on #39
@LandonRover @Urkman the fullscreen mode is meant for the entire screen, not for a specific view.

[2015-11-23 15:25] kevin-hirsch commented on #53
Hello @JustinDMoore, this seems correct. The swift code is only missing your
[code]

Which would simply be

[code]

[2015-11-23 22:27] kevin-hirsch commented on #57
Hello @paoloandrea, what do you mean by

Can you precise a little more the context and give a code example please.

[2015-11-23 22:34] kevin-hirsch commented on #56
Hello @sdalai, did you did well a `pod install` from the command line? If yes, I found this [thread](http://stackoverflow.com/questions/24078597/cocoapods-ld-library-not-found-for-lpods-projectname) on stackoverflow. Take a look at the accepted answer, hope it helps!
Keep me posted!

[2015-11-23 22:35] kevin-hirsch commented on #55
Hello @paoloandrea, what would you want to do more precisely?

[2015-11-23 22:39] kevin-hirsch commented on #54
Hello @AlexanderKaraberov, @Ashish145, Where are you calling the `show` method of the KVNProgress?
As @ctaodream said, it could be a problem to call it in viewDidLoad.

[2015-11-23 22:57] kevin-hirsch commented on #52
Hello @mohpor!

Thanks for the good idea! I can understand why you would want such a feature. But waiting a minimum amount of time is maybe not the best approach. Here's my thoughts on this:
You have something to load and want to show the user that something is loading (and possibly blocking the user from interacting meanwhile). So what you want to be sure is that the user have time to see that so

[2015-11-23 23:01] kevin-hirsch commented on #51
Hello @mohpor, @benyboariu, sorry for not responding quickly to you. I was very busy and focused with work. I will take a look at this. Thanks for noticing it! :)

[2015-11-24 04:52] mohpor commented on #52
Hello @kevin-hirsch
You're right about the facts you've mentioned about the unknown delay and even I have noticed it after I wrote the text above. It's still a valid point to consider because the loading time will be unknown, we can't possibly know how much time we should wait before the loading indicator should show up. But, for my case at least, I'm almost sure of the size of the packet I'm tran

[2015-11-24 04:56] mohpor opened #60 "Progress or message notification tries to re-draw itself"
Sometimes when the loading indicator is displaying (Indefinite or message, error, success) it decides to show the indicator again! I mean it re-draws (with animation and all) the same indicator all over again. especially when something happens on the underlying view or a rotation or a notification...

[2015-11-25 10:36] gavrilaady commented on #40
Hi...can you help me?..i run pod 'KVNProgress',then i imported KVNprogress to my ViewController but i got an error:'No such module 'KVNProgress'' although i can use KVNProgress.show()(for example) in my code....any suggestions?

[2015-12-01 07:40] kidsid49 opened #61 "While using showing on particular view its doesn't blur or mask the navigation bar?"
I am using this [KVNProgress showWithStatus:nil onView:self.view] and I am still able to tap on my navigation bar button and its not maksed or blurred :-(
How to achieve that behaviour?
![simulator screen shot 01-dec-2015 1 10 09 pm](https://cloud.githubusercontent.com/assets/3293006/11494918/de98e574-982c-11e5-864e-e918a6dcf087.png)

[2015-12-01 12:08] kevin-hirsch commented on #61
Hello @kidsid49!

If you want the entire screen to be blocked, simply don't precise a `onView` ;)
Try something like:

[code]

[2015-12-01 12:10] kevin-hirsch commented on #60
Hello @mohpor,

What do you mean by:

Do you have a concrete case to reproduce this?

[2015-12-01 12:13] mohpor commented on #60
I do,

Try this: Display an indeterminate progress (because it stays longer, nothing to have against indeterminate) then if a notifications comes along (you can easily generate one yourself) if you interact with it anyway, it will make the progress to redraw and show the opening animation,

[2015-12-01 15:43] kevin-hirsch commented on #60
Thank you!
I'll try that.

[2015-12-02 15:50] ismyhc commented on #57
I believe what @paoloandrea is saying is that there is no .showStop member on KVNProgressConfiguration. I just ran into this.

[2015-12-08 21:35] Blast12345 opened #63 "Behavior when unbalanced show/dismiss"
I have uncovered a strange behavior when there are more show's than dismiss's.

Example code:
[code]
    "<UITransitionView: 0x12f82f040; frame = (0 0; 414 736); autoresize = W+H; layer = <CALayer: 0x12f82f200>>",
    "<KVNProgress: 0x12e5a3140; frame = (0 0; 414 736); alpha = 0; autoresize = W+H; tintColor = UIDeviceRGBColorSpace 1 1 1 1; layer = <CALayer: 0x12e5a3530>>"
[code]
"<UITransitionView

[2015-12-09 23:46] rroy1590 opened #65 "Please allow Carthage Support"
Carthage is becoming increasingly popular as a dependency manager for iOS projects. Please consider merging in my PR at https://github.com/kevin-hirsch/KVNProgress/pull/64 to allow this by default.

Thanks!

[2016-01-19 10:12] pjebs opened #67 "Built in counter - does it exist?"
Is there a built in counter so that:

[KVNProgress showWithStatus:@"Loading"];
[KVNProgress showWithStatus:@"Loading"];
[KVNProgress dismiss];

Since 2 shows were called and 1 dismiss was called, it should keep ProgressBar running until a final dismiss is called to balance the 2 shows.

[2016-01-19 10:25] kevin-hirsch commented on #67
No there is no built in counter. The idea is that you can first call `[KVNProgress showWithStatus:@"Loading"]`, that will make the HUD appear, then you can call `[KVNProgress showWithStatus:@"Update Loading"]`, the HUD will see its status change in an animation. Finally, `[KVNProgress dismiss]` will dismiss this HUD.

The philosophy is that the HUD is one object that can be shown and dismissed but

[2016-01-19 10:45] pjebs commented on #67
AFNetworking has a feature for their spinner that appears on the status bar when there is network activity: https://github.com/AFNetworking/AFNetworking/blob/master/UIKit%2BAFNetworking/AFNetworkActivityIndicatorManager.h#L85

The spinner spins until all AFNetworking network requests finish and then it stops spinning.

For backwords compatibility, you should have an opt-in mode `autoCounter` mode

[2016-01-19 10:51] kevin-hirsch commented on #67
Thanks for the tip!

[2016-01-22 20:18] rjcristy commented on #41
I have to delay the  [KVNProgress dismiss] for few milliseconds to make this work

[2016-02-11 01:38] rroy1590 commented on #65
@kevin-hirsch can you take a look at this when you get a chance? thanks!

[2016-02-11 09:13] hotbott commented on #65
:+1:

[2016-02-11 10:20] djbe commented on #41
In the meantime, I've found a post explaining how to have cancellable dispatch_after blocks:
http://stackoverflow.com/questions/12475450/prevent-dispatch-after-background-task-from-being-executed
Note: It's not the accepted answer, but the post by user3125367.

[2016-02-14 11:27] freak4pc opened #70 "Showing loader above keyboard?"
Is it a possibility to present the loader over the keyboard? Currently displaying the loader while a text field is the first responder, leaves the keyboard visible (and active) which lets the user act on it.

From what I know it should be possible to create a new UIWindow with a Status Bar Level so the progress view could overlay the keyboard as well.

What are your thoughts on this?

Thank you :)

[2016-02-22 08:27] pjebs opened #71 "UIView"
What would I need to do to use the standard spinner UIVIew as a element to put in my UI.

What I am saying is using it as a normal control without the status bar, popup etc.

[2016-02-23 07:06] mohpor commented on #52
Any updates?

[2016-03-03 10:16] Bosian opened #72 "KVNBlockSelf.queue addOperation"
When enter to UIViewController, then appear "Thread 1: signal SIGABRT" and error message is below ...

*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** -[NSOperationQueue addOperation:]: operation is already enqueued on a queue'

`		dispatch_after(dispatch_time(DISPATCH_TIME_NOW, (int64_t)(0.1f * NSEC_PER_SEC)), dispatch_get_main_queue(), ^{
			if (![KVNBloc

[2016-03-03 10:23] kevin-hirsch commented on #72
Hello @Bosian,

We just noticed this bug. Try updating to the latest version of the project, this should be fixed with 4b8a2c0f1e48f6bf80e4008a091dfe20b5619ad9.
You can update to pod version 2.4.4.

Please report again if you see this crash again.

[2016-03-03 11:02] #72 closed

[2016-03-04 02:41] Bosian commented on #72
Amazing! It's working, Thank you!!

[2016-03-19 10:44] animaonline commented on #72
Thanks for the fix! :+1:

[2016-03-24 12:23] Errortype520 commented on #67
I think a better solution instead of `autocounter` would be to have `dismiss()` always dismiss the popup. But create a new method `popActivity()` or similar that just removes the last one, and replaces with the previous message or popup style.

This is how **SVProgressHud** handles the counter. This way we can dismiss the progress hud in an event where popActivity is not all called.

Example of th

[2016-03-24 12:31] Errortype520 commented on #65
I would also like Carthage support.

[2016-03-26 09:00] uxight opened #73 "crashed while updateStatus:"
Crashed: NSOperationQueue 0x1775a150 :: NSOperation 0x1785afc0 (QOS: LEGACY)
EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x0000000090000010

KVNProgress.m line 1008
-[KVNProgress updateStatus:]

I don't know exactly where and why it happens, but Fabric Crashlytics Tool send me crash report quite
frequently. My code call updateStatus: from in 2(or more) progress blocks but not in the thread. Why it happens

[2016-04-19 09:56] imclean commented on #3
I've added a quick custom image with status functionality, on this fork [https://github.com/imclean/KVNProgress](url)
New method added:
+ (void)showCustomImageWithStatus:(NSString *)status
                            image:(UIImage *)image
                       completion:(KVNCompletionBlock)completion;

[2016-04-29 16:14] chrilith commented on #34
@kevin-hirsch, you can also use the new (iOS 8.0) UIVisualEffectView.
A good tutorial on this:
https://www.raywenderlich.com/84043/ios-8-visual-effects-tutorial

Waiting for this feature too :)
Thanks!

[2016-05-16 03:54] lizheftd opened #74 "How to display only words?"
How to display only words,

[2016-06-04 01:41] Jackson0111 commented on #70
Having the same issue. Solutions?

[2016-06-06 09:43] kevin-hirsch commented on #70
I will take a look at a solution. In the meantime, a workaround could simply be resigning the first responder to hide the keyboard before showing the loader.

[2016-06-06 09:44] freak4pc commented on #70
@kevin-hirsch That's what we're currently doing.
But generally speaking, the solution I suggested with a UIStatusBarLevel UIWindow should work well, I've done that for a similar component.

[2016-06-06 09:48] kevin-hirsch commented on #70
Alright! Thanks for the tip, I will take a look a that `UIStatusBarLevel UIWindow` thing 👍

[2016-06-06 15:11] erdem-inan commented on #70
Hey guys,
This have been done in this commit: a741fea488a5c5a3500996b9500bc4f0645930b8
I leave the task open, waiting for your feedback :) .

[2016-06-06 15:29] #48 closed

[2016-06-14 11:19] rohit-mobcoder opened #75 "Nib name not found when used with Swift Cocapod library"
Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Could not load NIB in bundle: 'NSBundle </Users/.../Library/Developer/CoreSimulator/Devices/451350EF-8F58-468A-809E-AD0BD737F17B/data/Containers/Bundle/Application/32256CED-4DE0-4C33-9C23-95643A8F4A39/Lynkr.app> (loaded)' with name 'KVNProgressView''
*** First throw call stack:
(
	0   CoreFoundation

[2016-06-16 10:31] NuelNikhil opened #76 "^ operator in Swift"
Hello , How can I convert this function to swift. I have tried converting rest of the code but not all

[code]

[2016-06-16 12:58] kevin-hirsch commented on #76
Hello @NuelNikhil, I would translate it that way in Swift:
[code]

[2016-06-16 12:58] #76 closed

[2016-06-17 03:43] NuelNikhil commented on #76
@kevin-hirsch I was struggling with that... even online converter's failed in converting that code... Thank you very much... 👍

[2016-06-17 09:31] sreeji44 opened #77 "Can you show me swift code for adding full screen View"
can you add swift code for adding Fullscreen view

[2016-06-17 16:36] kevin-hirsch commented on #77
Doesn't this work already doing this?

[code]

[2016-06-17 16:43] sreeji44 commented on #77
@kevin-hirsch

func config(_: KVNProgressConfiguration){
        var Basic = KVNProgressConfiguration()
        Basic.statusColor = UIColor.whiteColor()
        Basic.circleStrokeForegroundColor = UIColor.whiteColor()
        Basic.circleStrokeBackgroundColor = UIColor(white: 1.0, alpha: 0.3)
        Basic.circleFillBackgroundColor = UIColor(white: 1.0, alpha: 0.1)
        Basic.circleSize = 110.0

[2016-06-17 16:47] kevin-hirsch commented on #77
And that doesn't work?

[2016-06-17 16:48] kevin-hirsch commented on #77
Do you assign this config to the `KVNProgress` like so?

[code]

[2016-06-17 16:50] sreeji44 commented on #77
@kevin-hirsch  where i want to set this code ?. ok let me try... actually i added lot of codes right..

[2016-06-17 16:54] kevin-hirsch commented on #77
Try with this:

[code]

[2016-06-17 16:57] sreeji44 commented on #77
@kevin-hirsch  thank you very much you are awesome 👍  💯

[2016-06-17 17:01] kevin-hirsch commented on #77
Great! :)

[2016-06-17 17:01] #77 closed

[2016-06-20 12:26] Frohmen opened #78 "SIGABRT"
After upgrading to the latest version 2.2.4 i get a `SIGABRT` inside the `sharedView` function when calling `KVNProgress.showWithStatus`

[2016-06-20 19:14] kevin-hirsch opened #79 "List of apps that uses KVNProgress"
Hey everyone!

I am wondering which apps are using this nice library 🙃
I would like to show a list of them on the README.md
So, if you are using `KVNProgress`: Be Proud! 👍
And comment this issue with your app name 😀

Thanks!

[2016-06-28 09:07] kevin-hirsch commented on #79
- Assisto
- Tricount
- Monizze

[2016-07-04 03:51] shusain93 opened #80 "When using displayOnView with a tableview it displays the HUD in the corner of the view"
![simulator screen shot jul 3 2016 9 46 00 pm](https://cloud.githubusercontent.com/assets/1606726/16550442/c7c6082e-4167-11e6-8f9e-1fee877a9464.png)

I get this weird bug when I use this `KVNProgress.show(withStatus: message, on: self.view)` however without the `on: self.view` it displays correctly. This could be an issue on my end and I'm trying to figure out if anyone else can reproduce.

[2016-07-07 15:34] kevin-hirsch commented on #80
Hello @shusain93 !

Could you show me where in your code you are calling the `show` method, please?

[2016-07-07 15:47] shusain93 commented on #80
It doesn't matter where I call it from the looks of it. I get this:
![simulator screen shot jul 7 2016 9 45 44 am](https://cloud.githubusercontent.com/assets/1606726/16659522/a9d51e0a-4427-11e6-8d70-e66e2048c616.png)

when I call it in my pulledToRefresh IBAction

[code]

[2016-07-07 15:50] kevin-hirsch commented on #80
Ok. And if you don't add the `on` view parameter?

[2016-07-07 15:51] shusain93 commented on #80
It works correctly/as expected. I'm trying to use the `onView` so that It doesn't always block the whole view.

[2016-07-07 15:53] kevin-hirsch commented on #80
Ok, I will investigate that!

[2016-07-07 16:03] kevin-hirsch commented on #80
Could you print the type of `self.view`?

[2016-07-07 16:06] shusain93 commented on #80
`self.view` is a `UIView?` however even if I use ` on: self.view!` it still doesn't work. If I send my `self.tableView` I also get the same issue.

[2016-07-07 16:12] kevin-hirsch commented on #80
And if you try in another view controller that is not backed by a tableview?

[2016-07-07 16:15] shusain93 commented on #80
That's the bug right there! It seems that a `UITableViewController` causes the issue because I believe that `self.view` will return the tableview if it is a `UITableViewController`

[2016-07-07 16:19] kevin-hirsch commented on #80
Did you print the type of the view like this:
[code]

because I think that `UITableViewController` has actually a `UITableWrapperView` or something like that that have the `UITableView` as child.

[2016-07-07 16:24] shusain93 commented on #80
I used a breakpoint and used the object inspector. Using `print(self.view.dynamicType)` I get `ImplicitlyUnwrappedOptional<UIView>` and `print(self.view)` I get `<UITableView: 0x7c8ce200; frame = (0 0; 320 568); clipsToBounds = YES; autoresize = W+H; gestureRecognizers = <NSArray: 0x7bfc6b30>; layer = <CALayer: 0x7bed7450>; contentOffset: {0, 0}; contentSize: {375, 0}>`

So I'd assume that there i

[2016-07-07 16:30] kevin-hirsch commented on #80
Thanks. I think that adding a subview to a `UITableView` is unadvised because it can trigger weird behaviours like this one. I'll check what can be done ;)

[2016-07-08 16:28] kevin-hirsch commented on #70
@freak4pc Can you tell us if it is resolved now?

[2016-07-08 16:29] kevin-hirsch commented on #71
Hello @pjebs!
What you want is use the circle part only ? I mean the content (loader + text) inside the popup?

[2016-07-08 16:34] kevin-hirsch commented on #73
Hello @uxight
Can you reproduce this crash every time? On which thread do you call the `updateStatus: ` method?
Try on the main thread, your issue could come from there ;)
To call it on the main thread, do:

[code]

[2016-07-08 16:34] kevin-hirsch commented on #74
Hello @lizheftd what do you mean by "display only words"?

[2016-07-08 16:42] kevin-hirsch commented on #75
I did the change in this commit: 373fb53
Could you try it on your side and give me your feedback! :)
You can install this commit by replacing `pod 'KVNProgress'` with this:

[code]

[2016-07-09 06:05] pjebs commented on #71
At the time, I noticed that the spinning circle part could not be used by itself. I wanted to use it without the rest of the control. It would require a refactoring of the code to make it more modular but probably isn't worth the time for either of us.

I'll close the issue because it was from a long time ago for a project that is now finished.

[2016-07-09 06:05] #71 closed

[2016-07-10 07:51] freak4pc commented on #70
@kevin-hirsch do you mean using that specific commit ?
I haven't seen a version update on KVNProgress (still at 2.2.4).

[2016-07-10 07:58] freak4pc commented on #70
Hey guys, I can confirm https://github.com/AssistoLab/KVNProgress/commit/a741fea488a5c5a3500996b9500bc4f0645930b8 resolved this issue :)

Let's get this merged !

[2016-07-11 08:18] kevin-hirsch commented on #71
Alright! Anyway, it would be simpler to code this directly than to use the KVNProgress to suits your needs. Something like http://stackoverflow.com/a/26578895/2571566

[2016-07-11 08:33] kevin-hirsch commented on #70
Done and available from CocoaPods v2.3 😉

[2016-07-11 08:33] #70 closed

[2016-07-11 08:36] kevin-hirsch commented on #78
Hello @Frohmen! Try using the latest version of KVNProgress (2.3) available via CocoaPods.
Give me your feedback 🙃

[2016-07-11 09:55] freak4pc commented on #70
Confirmed - Update to v2.3 fixes issue.
Thanks to all involved !

[2016-07-12 04:10] erolando commented on #79
RutaDirecta
https://itunes.apple.com/us/app/rutadirecta/id961178858

[2016-07-12 14:22] kevin-hirsch commented on #80
It seems that using Autolayout when adding a subview to a `UITableView` is messing the subview. When adding the `KVNProgress` to the view, I add the following constraints:

[code]

Commenting the related code gives the correct result:

![result](https://cloud.githubusercontent.com/assets/2794684/16770313/be6f4100-484c-11e6-95f6-f46a094c9d3a.png)

I will see what I can do to fix this.

[2016-07-12 14:44] kevin-hirsch commented on #80
By putting the Autolayout code in an `if` condition for `UITableView` cases, it now works. The only thing you have to notice is that you can still scroll through your tableView if you do not prevent it:

![bug](https://cloud.githubusercontent.com/assets/2794684/16771178/d46d069c-484f-11e6-9542-40e68cc62e14.gif)

I will check that nothing is broken before committing it 🙃

[2016-07-12 14:54] kevin-hirsch opened #81 "Landscape not handled anymore"
The problem is that in landscape the `KVNProgress` does not display itself correctly:

![bug](https://cloud.githubusercontent.com/assets/2794684/16771538/2677e3b6-4851-11e6-9141-61bc94bfa4e9.png)

The problem comes from the commit *Showing loader above keyboard* (a741fea)
I tested with the old code and it works perfectly:

[code]

To investigate...

[2016-07-12 15:09] kevin-hirsch commented on #80
Ok, I made a commit on master 626b9a9
You can check it out and test it 😉
With CocoaPods, you can do:

[code]

I wait for your feedback before closing this issue.

[2016-07-12 23:29] shusain93 commented on #80
Thanks!

This works perfectly as long as every single other use of the progress spinner is also used with the `on:` property. If you end up mixing them in the same view controller you end up breaking the whole shared object and so every time it presents using `on:` it shows up like this:

![img_2641](https://cloud.githubusercontent.com/assets/1606726/16786922/a936888a-4855-11e6-84b4-f91d739591a4.P

[2016-07-13 04:36] riarellano commented on #75
I have a similar problem updating to 2.3, so I downgraded to the commit above and the app keeps crashing.
here's the console log I get.

*** Assertion failure in -[UIApplication _runWithMainScene:transitionContext:completion:], /BuildRoot/Library/Caches/com.apple.xbs/Sources/UIKit_Sim/UIKit-3512.60.7/UIApplication.m:3401
*** Terminating app due to uncaught exception 'NSInternalInconsistencyExcepti

[2016-07-13 07:41] kevin-hirsch commented on #75
Hello @riarellano!
Are you sure the `NSInternalInconsistencyException` exception you have (*Application windows are expected to have a root view controller at the end of application launch*) is coming from the `KVNProgress` lib?

In your stack trace:
[code]

I don't see any calls to `KVNProgress`. If you re-update the library to 2.3, do you still have this crash?

[2016-07-13 07:42] kevin-hirsch commented on #75
@rohit-mobcoder Do you still have an issue or is it fixed on your side?

[2016-07-13 08:41] rutger588 commented on #79
[StormArchive lightning](https://itunes.apple.com/us/app/stormarchive-lightning/id1092525600?mt=8)

[2016-07-14 08:59] freak4pc opened #82 "Force KVNProgress to appear on the Main Thread"
Hey All,
I was wondering something for a while now.

KVNProgress *will* pretty much always crash if it's executed outside of the Main Thread.
The current solution (which seems to be a recurring answer to issues here), would be to wrap the call with a GCD Dispatch on `dispatch_get_main_queue()`.

My question here is, why not just enforce that to begin with?
Why not have KVNProgress always display i

[2016-07-15 01:52] riarellano commented on #75
Hi @kevin-hirsch , I see someone opened issue #82 and thought it could be the reason its making the app crash on my side, I am using Localytics SDK and at app launch it takes over the main thread. just a thought.
I've downgraded to 2.2.4 for now, what are your thoughts?

[2016-07-15 05:45] rohit-mobcoder commented on #75
@kevin-hirsch I don't use updated version 2.3 now ,but its fixed on my side same as in this jessesquires/JSQMessagesViewController#773

[2016-07-18 11:41] Frohmen commented on #78
I'm afraid it still doesn't work, getting the same error as before

[2016-07-18 14:06] kevin-hirsch commented on #78
Can you reproduce the issue every time?
Also, can you show me the logs of the crash, please?

[2016-07-19 09:42] Frohmen commented on #78
Yes it happens every time
Sorry for not understanding, but what do you mean with the logs of the crash?

[2016-07-19 09:52] Frohmen commented on #78
I just found this in the debug console:

Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Could not load NIB in bundle: 'NSBundle </var/containers/Bundle/Application/97259200-1DAB-4656-9535-E0E29DB93D2A/Dagens Kungsbacka.app/Frameworks/KVNProgress.framework> (loaded)' with name 'KVNProgressView''

[2016-07-21 10:21] Frohmen commented on #78
It might have something to do with that I'm using Swift and using the pod as framework

[2016-07-21 11:58] bb-git opened #83 "calling showSuccess() on view with a tableview scroll to top"
I have a view that contains a tableview. Calling KVNProgress.showSuccess() scrolls the tableview to the top after the success overlay disappeared. This only happens when the keyboard is visible.

KVNProgress.showSuccessWithStatus("", onView: self.view) works without problems

[2016-07-25 06:47] Frohmen commented on #75
I'm having the same problem

[2016-07-29 14:57] animaonline commented on #81
Hi, any updates on this one?

[2016-08-03 09:44] danielpetroianu opened #85 "Background isn't blurred anymore from version 2.3"
The background isn't blurred anymore. I've done some debugging and this bug was introduced at a741fea488a5c5a3500996b9500bc4f0645930b8 - Showing loader above keyboard.

Steps:
1. The progress window is created and makeKeyAndVisible (see `addProgressWindow`)
2. The `blurredScreenShot` method is called on the key windows , which now is the progress window, and the snapshot done by `- (BOOL)drawViewH

[2016-08-17 13:59] aftabaig commented on #81
Any updates? I am creating a landscape only iPad app and need it urgently.

[2016-08-17 14:13] kevin-hirsch commented on #81
Not for the moment, I will try fix it this week. Until, you can use commit b13f1cf78fcc98445875a95db872d7399b9205c9 just before a741fea that broke the landscape mode.
[code]

[2016-08-17 14:14] aftabaig commented on #81
Thanks Kevin.

[2016-08-18 12:09] kevin-hirsch commented on #80
Hello @shusain93!
So it works well, but not when you use the `show` method without the `on:` parameter? Could you be more precise, please? :)

[2016-08-18 13:26] kevin-hirsch commented on #85
Hello @danielpetroianu!
Thanks for noticing this nasty bug 👍

It's now fixed. Until version 2.4 is released with this fix included, you can have it through CocoaPods by doing:
[code]

[2016-08-18 13:26] #85 closed

[2016-08-18 13:31] kevin-hirsch commented on #81
It's now fixed. It will be available in 2.4. Until then, feel free to use this version of KVNProgress:
[code]

[2016-08-18 13:31] #81 closed

[2016-08-18 13:35] kevin-hirsch commented on #83
Hello @bb-git, could you show some code where you use KVNProgress, please? 🙃
Also, can you try using this version of KVNProgress and tell me if you still have this bug:
[code]

Thanks!

[2016-08-18 13:39] #73 closed

[2016-08-18 13:40] #74 closed

[2016-08-18 13:41] #56 closed

[2016-08-18 13:41] #55 closed

[2016-08-18 13:51] kevin-hirsch commented on #45
Hello @Frohmen, it should now be fixed. #80
Sorry for the late answer.

It will be available in 2.4, until then, you can use the latest version of KVNProgress with this:
[code]

[2016-08-18 13:51] #45 closed

[2016-08-19 08:45] kevin-hirsch commented on #75
There was a problem with the pod version. A `pod install` was installing the **2.2.4** and not the **2.3**
Executing `pod install/update` should now update to the last version containing the fix.
Don't forget to use `pod 'KVNProgress'` and not the version specifying the commit.

Also, it seems in [this answer](https://github.com/jessesquires/JSQMessagesViewController/issues/773#issuecomment-149294

[2016-08-19 08:45] #75 closed

[2016-08-19 08:46] kevin-hirsch commented on #78
Closed through #75 (answer [here](https://github.com/AssistoLab/KVNProgress/issues/75#issuecomment-240962783))

[2016-08-19 08:46] #78 closed

[2016-08-19 09:01] kevin-hirsch commented on #85
Fix available in version **2.3.1**.
You can use it via `pod 'KVNProgress'` ✨

[2016-08-19 09:01] kevin-hirsch commented on #81
Fix available in version **2.3.1**.
You can use it via `pod 'KVNProgress'` ✨

[2016-08-31 21:40] AndreiBoariu commented on #79
[Dials](https://itunes.apple.com/us/app/dials-calendar-clock-based/id1095827323?mt=8)

[2016-09-10 03:26] pjebs opened #86 "UIWindow"
Even after I call `dismiss()`, I've noticed that when I look at the window hierarchy, there is a `UIWindow` and it's associated `KVNRotationViewController` still persisting.

Is this normal?

Don't get me wrong. It doesn't seem to affect my app. It's just always there.

[2016-09-10 05:36] mrubin opened #87 "minimumDisplayTime not being honored for dismiss while presenting"
If you call `dismissWithCompletion()` while the view is still animating on from the `show()`, `minimumDisplayTime` is not honored. We're hitting the return in the below snippet

[code]

and we never get into `dismissAnimatedWithCompletion()`, which is where `minimumDisplayTime()` is checked.

[2016-09-12 07:15] mattem86 opened #88 "even import only (from pods) crashes OpenGL view"
I have a OpenGL ES 2.0 view, which I wanted to overlay with the KVNProgress. Every single time, I opened the GLView **twice**, the app crashes with _gpus_ReturnGuiltyForHardwareRestart_ ... Even if only imported the KVNProgress module via CocoaPods and no showing of the KVNProgress itself...

[2016-09-12 13:46] kevin-hirsch commented on #88
Hello @mattem86, thanks for using this library!

Are you sure this crash is from KVNProgress itself? Do the crash disappear when you remove the `KVNProgress` import?

[2016-09-12 13:55] mattem86 commented on #88
Yep, the crash disappears, if I do not import KVNProgress within the ViewController which contains the GLView. I didn't believe that to, so I double-checked :) But I will try it once again tomorrow...

[2016-09-12 14:04] kevin-hirsch commented on #86
Hello @pjebs!

Indeed, the window is still in the view hierarchy.
The code hide the `KVNProgress` window and change the `keyWindow`. This should remove the hidden window from the hierarchy. But since the `KVNProgress` (singleton) instance is retaining its own window as a property (`progressWindow`), the window is always retained and thus, never removed from window hierarchy.

I don't think this co

[2016-09-12 14:20] kevin-hirsch commented on #87
Hello @mrubin,

I see your point here. The philosophy behind the `minimumDisplayTime` actually is that if the loader is shown to the user, we use the `minimumDisplayTime` property to make it stay long enough on screen and not blink. But if the loader has not appeared yet, there's no need to show it for a certain amount of time in the first place.

Now I see your point, and reading what I've put in

[2016-09-12 14:21] kevin-hirsch commented on #88
So the `view` of your view controller is a `GLView`?

[2016-09-12 18:14] mrubin commented on #87
Thanks for the quick response!

`show` & `dismiss` are indeed a big pain, especially when you're dealing with edge-cases like the app resigning/becoming active and/or going to/from background. In my app, a server response can cause an alert to pop-up at any time. Also, if the app becomes active again (e.g. accidentally toggle Control Center or Split Screen for a moment, or return from background)

[2016-09-12 18:29] kevin-hirsch commented on #87
Indeed, the use case of several modals is not handled by `KVNProgress` but the way I would do it is like with `UIView`s. I think your windows with the same `windowLevel` will stack on top of each other in the order you add them to the hierarchy (via `makeKeyAndVisible`) like `UIView`s do when the have the same `zIndex` property.

[2016-09-12 19:10] mattem86 commented on #88
Not exactly, the View in my View Controller has a View, which is holds an GLKView inside and is a GLKViewDelegate

Am 12. September 2016 um 16:30:49, Kevin Hirsch (notifications@github.com) schrieb:

So the view of your view controller is a GLView?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-09-13 00:06] pjebs commented on #86
Actually I just noticed that it is causing issues for me now. I use a component called `RMUniversalAlert` which needs to placed on _my_ Window. Sometimes I can't rely on calling `shareApplication.windows.last` because it captures the KVN Window.

[2016-09-13 00:38] mrubin commented on #65
Are there any plans to add a shared-framework scheme to enable Carthage support? The fork mentioned above is a big behind master now.

Thank you!

[2016-09-13 14:12] kevin-hirsch commented on #65
Hello everyone,

I plan to do this by the end of the week. Sorry for the late, I've been very busy lately.
Thanks to you all for using this library! ❤️

[2016-09-13 14:22] kevin-hirsch commented on #88
So if you remove the "import KVNProgress" statement, the app does not crash anymore?
Which version of CocoaPods are you using? (`pod --version`)

[2016-09-13 16:27] mrubin opened #89 "Please consider a way to dynamically set KVNRotationViewController properties via Configuration"
If it will soon be possible to use `KVNProgress` via Carthage (meaning it will be compiled into a static library and then imported into your app), it becomes impossible to change the values of `KVNRotationViewController` - you cannot subclass it either because `KVNProgress` directly instantiates it via:

[code]

(I suppose you could swizzle it?)

Would it be possible to somehow make use of the `Co

[2016-09-14 10:19] kevin-hirsch commented on #89
Hello @mrubin,

If I understand correctly, you have an app that only supports landscape mode but the `KVNProgress` loader does rotate in portait mode?

That's indeed a problem.
I think a good solution would be to have a new `UIInterfaceOrientationMask supportedOrientations` property for `KVNProgressConfiguration` that would be used when instantiating the `KVNRotationViewController`. Then the `KVNR

[2016-09-14 15:37] mrubin commented on #89
It doesn't rotate all the way, but it looks like it starts rotating and then rotates back to where it was... so it "flickers".

[2016-09-14 18:08] rroy1590 commented on #65
hey everyone, I updated my fork to master. hope that helps in the meantime.

[2016-09-14 18:43] freak4pc commented on #82
@kevin-hirsch this has been open for over 2 months... Any thoughts ?

[2016-09-18 06:32] pjebs commented on #86
@kevin-hirsch  Any progress on this issue?

[2016-09-19 13:25] gravera commented on #85
I am still experiencing the same issue with 2.3.1.

[2016-09-20 09:37] mattem86 commented on #88
Sorry, I was busy the last week ... I use pod 1.0.0 ... but, something changed in the meantime, the app crashes no more when I import KVNProgress on that particular ViewController... maybe some other pod were interfering? I have to try again...!

Am 13. September 2016 um 16:22:19, Kevin Hirsch (notifications@github.com) schrieb:

So if you remove the "import KVNProgress" statement, the app does no

[2016-09-20 09:45] mattem86 commented on #88
Ha! It is the Viewcontroller which I segue off from to reach the new Viewcontroller with the GLView. So, if I import (just import!) KVNProgress in my ViewController A and I segue off to my ViewController B (which contains my GLView), then the crash appears at the second time I segue. Weird.

Am 20. September 2016 um 11:37:08, Matthias Temmen (matthias.temmen@icloud.com) schrieb:

Sorry, I was busy

[2016-09-21 01:15] Accesources commented on #79
[Cheerio](http://cheerioapp.com)

[2016-09-27 18:35] brunoteixeiralc opened #90 "Fullscreen configuration not working on IOS 10"
hi,

I am using KVNProgress with iOS 9 and works great.

When I try Basic.fullScreen = true with IOS 10 , appears the progress but the background still the same without the blur image.

  let Basic = KVNProgressConfiguration()
        Basic.circleStrokeForegroundColor = UIColor(red:30/255, green:196/255, blue:82/255, alpha:1.0)
        Basic.fullScreen = true
        KVNProgress.setConfiguration(B

[2016-10-04 00:38] pjebs commented on #86
Can you please remove KVNRotationViewController from the heirarchy because I have various libraries that attempt to put themself on top using code such as: `UIApplication.sharedApplication().windows.last?.rootViewController`.

That is a common technique that a lot of libraries use. Unfortunately because of `KVNRotationViewController` always persisting (and invisible when KVProgress is not operatin

[2016-10-11 09:37] ph11852 opened #91 "Progress jumps into upper left corner on applicationDidBecomeActive"
Hi,
When I display the overlay with `[KVNProgress showWithStatus:text]`, press the home button (or pull out the iOS side menu from the split screen) and go back into the app again, the overlay moves into the upper left corner.

[2016-10-15 11:12] freak4pc commented on #90
Yup, can confirm in iOS10 `Blurred` acts the same as `Solid`.

[2016-10-15 11:16] freak4pc opened #92 "Hide status bar or change preferred style"
Hey, It seems KVNProgress sets its own status bar style / visibility , disregarding `prefersStatusBarHidden()` .

Even when the default value is a hidden status bar, using KVNProgress.show or any other method will make the status bar "appear" and then will hide it on dismissal.

Any way to make KVNProgress adhere to the default values of status bar visibility, or at least provide a method to set t

[2016-10-15 11:37] freak4pc commented on #82
There is a great fork solving this very problem. Any chance you would consider adding this in? @kevin-hirsch  :
https://github.com/dmsl1805/KVNProgress/commit/318fe74872703575a72a234e0ba00248554a8e5c

[2016-10-21 01:57] Accesources commented on #79
Just released an update to [BoomBar](http://boombarapp.com) that use KVNProgress to show the user the backup progress , so clean and neat 💯

[2016-10-27 04:34] horaciogarza commented on #91
Hi @ph11852, I currently have the same problem ¿Did you knew how to fix it?

[2016-10-27 05:57] ztwei opened #95 "Misplacement when using Whisper notification"
I'm using [Whisper](https://github.com/hyperoslo/Whisper) to show message when there's no internet connection.

As there's a `Whisper murmur` shown at the position of status bar, a `KVNProgress.show()` would be displayed at the very top beyond the visible screen bounds like below,

![simulator screen shot 27 oct 2016 1 53 01 pm](https://cloud.githubusercontent.com/assets/16202607/19756165/373799c6

[2016-10-27 06:38] ph11852 commented on #91
Hi,

I fixed this issue in a forked repo:
https://github.com/ph11852/KVNProgress

Unfortunately, the PR is not merged yet.

[2016-10-27 08:20] RamonGilabert commented on #95
Thing is, Whisper creates a new Window in order for it to be on top of the Status Bar, and I guess what KVN is doing is taking a screenshot of that Window and work with that.

I would suggest showing `murmur` after?

[2016-11-01 08:22] ealymbaev opened #96 "Blurred background does not work when showing "onView""
When I use

`KVNProgress.show(withStatus: "Signing in", on: view)`

it does not show blurred background - it simply shows plain alpha

Also, in full screen mode it does not show background at all.

[2016-11-04 22:21] benyboariu commented on #44
Is this implemented?

[2016-11-12 10:10] Rashesh-Bosamiya opened #98 "Swift 3 Support"
Awesome Library.

Do we have support for Swift 3?

I am using pod. What is the pod string to integrate it?

[2016-11-12 22:57] CataD256 commented on #63
I managed to reproduce the same behaviour. If I have auto-dismiss and want to show multiple errors, I end up in a non-interactive state. There is an extra window in my hierarchy.

[2016-11-16 05:18] danya0365 opened #99 "Swift 3 Ui Freeze with show progress working with Alamofire"
Call `KVNProgress.show(0.0, status: "Logging...")` in main thread

then in alamofire

`request.responseJSON { (response:DataResponse<Any>) in`

call

`DispatchQueue.main.async {
                    KVNProgress.showSuccess()
}
`
or
`KVNProgress.showSuccess()`

[2016-11-18 14:43] julianpomper commented on #92
Would be nice!

[2016-11-18 14:44] julianpomper commented on #79
[Terminate](https://itunes.apple.com/at/app/terminate/id1146432829)

[2016-11-18 15:35] freak4pc commented on #92
Unfortunately it seems like this project is heavily unmaintained. I've filed a bunch of reports / issues and no replies have been given. Very sad, since I really like this project.

[2016-11-25 10:22] mattem86 commented on #88
Ok, seems to be a bug in the GLView Framework I was using ... I was trying again yesterday and everything went well, after updating the specific framework!

[2016-11-25 10:22] #88 closed

[2016-11-29 11:13] fralways commented on #92
Just add to the KVNRotationViewController.m:

[code]

[2016-12-21 22:52] nick-iCars commented on #99
This may not be limited to alamofire. I am having UI unresponsiveness, when the complete block of KVNProgress.dismiss(completion: {}) is fired. If I dismiss it with KVNProgress.dismiss() there does not seem to be an issue. I am hitting the network when this happens so maybe it is related to that. But I am not using Alamofire anywhere in the app.

[2016-12-26 07:53] samad5353 opened #100 "How to add custom image for success & adjust the frame for taht"

[2017-01-19 06:44] glennposadas commented on #44
I think not. I can't seem to find any boolean in **KVNProgressConfiguration** that can change this behavior. My view controller's status bar is changing from white to default right after dismissing KVNProgress.

[2017-01-19 07:45] glennposadas commented on #92
@fralways , that wouldn't work I think if one has this case as mine: http://stackoverflow.com/questions/41735911/is-there-a-way-to-call-prefersstatusbarhidden-without-view-controller-based-stat -- I use KVNProgress. Author might be very busy.

[2017-01-19 07:46] freak4pc commented on #92
As I wrote earlier it seems as if this project isn't maintained. Might just fork this and continue independently until he's able to resolve.

[2017-01-19 20:44] bb-git commented on #99
So I removed KVNProgress from my project. No more complaints since then, so it is definitly an issue of this library. I use KVNProgress mostly to show success or error.
Hope there will be a fix soon, as this is by far the best library!

[2017-01-20 05:22] glennposadas commented on #92
Thanks @freak4pc . Can you share with us your forked project? Can it be use via cocoapods?

[2017-02-10 15:37] gerchicov-bp opened #101 "Hangs with cancel button"
I use your example and just add cancel button inside (showProgress):
[code]

Then I tap various options from table - through some time the app hangs/freezes

[2017-02-17 17:08] nick-iCars commented on #63
Same here, this seems to be a serious issue, has anyone forked this and are actively updating the codebase?

[2017-02-17 22:23] nick-iCars commented on #99
I'm narrowing down the cause of this bug and I think it actually is a result of calling dismiss() multiple times, or more specifically calling dismiss() when there is no kvnprogressview visible.

[2017-03-08 03:49] NumberFive opened #102 "The status bar can be rotated after KVNProgress has been used"
The KVNProgress is very good,
I support the direction of the project protrait and landscape lete and landscape right,but i set it can not to rotate in my BaseViewController,the status bar is can not be rotate now,
BaseViewController.m
`- (BOOL)shouldAutorotate
{
    return NO;
}`

after that

`[KVNProgress showWithStatus:@"logining..."];
...
[KVNProgress dismiss];`
the status bar can be rotated,
c

[2017-03-08 06:34] NumberFive commented on #102
I used this method to solve the problem. :)
`[KVNProgress showWithStatus:@"logining..."  onView:self.view.window];`

[2017-03-09 15:48] VivienCormierRM commented on #99
👍

[2017-03-09 16:28] VivienCormierRM commented on #99
I was able to fixed this issue (in my case) by adding a `.dismiss()` before a `.showError()`.

[code]

[2017-03-13 11:47] kamalk2 opened #103 "doesAllowInterAction not working"
`
let kvnConfig = KVNProgressConfiguration()
kvnConfig.doesAllowUserInteraction = true
kvnConfig.circleSize = 60.0
kvnConfig.circleStrokeForegroundColor = .black
kvnConfig.circleFillBackgroundColor = .clear
kvnConfig.backgroundTintColor = .clear
kvnConfig.backgroundFillColor = .clear
KVNProgress.setConfiguration(kvnConfig)

KVNProgress.show()`

This is the Swift code i'm using. The doesAllowUserIn

[2017-04-17 15:37] AndreiBoariu opened #104 "While showing hud, status bar changes from light to dark(default)"
Hey,

First of all, thanks for this awesome lib. You did a great job!

I can see an issue: on my app, I have statusBarStyle = .light.
While hud is showing on the screen, status bar changes to default value, and after hide, its back to light.

Any idea ?
Thanks

[2017-04-25 13:46] AndreiBoariu commented on #104
Any idea for this ?
Thanks

[2017-05-02 10:30] rmvz3 commented on #86
Same here. In certain circumstances the KVN Window remains over the other views making my app unresponsive. Please fix this. Is there a workaround we can use in the meantime?

[2017-05-04 13:23] giuseppe19 opened #105 "Show progress with status in swift"
I'm trying without success to show alert with progress and status, then update the progress inside a cicle for but the progress is not updated... how to fix this?

[2017-06-10 05:33] nipun0505 opened #106 "How to create multiple instances of HUD?"
Is multiple instance supported? I don't want the dismiss method to dismiss every HUD showing on the screen.

[2017-07-28 04:18] shubh10 commented on #106
Try this HUD library for iOS in swift https://github.com/shubh10/JustHUD

[2017-08-03 02:00] iSachdeva commented on #79
One more: [SpoRtify App](https://itunes.apple.com/my/app/sportify-app/id1170417495?mt=8)

[2017-08-17 07:05] danya0365 commented on #99
Today i already fixed by check isVisible before show other KVNProgress

example

       KVNProgress.show()

after that before recall just check previous.

        if KVNProgress.isVisible() {
            KVNProgress.dismiss(completion: {
                KVNProgress.show()
            })
        } else {

            KVNProgress.show()
        }

[2017-08-17 07:13] danya0365 commented on #99
I created KVNManager to wrapped KNV library to manage it before show or dismiss.

        class KVNProgressManager: NSObject {

            static func applyConfig() {

                let configuration = KVNProgressConfiguration()
                configuration.minimumDisplayTime = 3.0
                configuration.minimumSuccessDisplayTime = 3.0
                configuration.minimumErrorDisplayTi

[2017-09-06 12:45] pritesh-khandelwal commented on #99
Issue still exist with alamofire . Can anyone help ,how I can fix screen freeze issue with  alamofire networking call.

[2017-10-16 06:14] 279632990 commented on #103
show onview is ok

[2017-11-12 07:26] taimur opened #107 "Checkmark curve edges"
I am trying to curve the edges of CheckMark. I have tried these methods but it didnt work. Can someone please look into it.

[code]
`self.checkmarkLayer.cornerRadius = KVNContentViewWithoutStatusCornerRadius;`

[2017-11-29 13:19] grifas commented on #92
Same issue :/

[2017-11-29 13:25] grifas commented on #44
To resolve this:

[code]

[2018-07-03 09:03] BartBM opened #109 "ERROR_CGDataProvider_BufferIsNotReadable crash"
Since iOS 11.2 we suffer a lot from the crash beneath. Do you have any idea how to resolve it?
[code]

[2018-07-06 08:34] florianhenonin opened #110 "KVNProgress make app freeze with Webview"
**What where you trying to do**
I'm displaying KVNProgress when Webview is loading.
Dismiss when finish load.

**What actually happened**
Only on iPhone 5s with 11.5 iOS version, app freeze !
No freeze when I comment `KVNProgress.show(withStatus: "general_progress_dialog_message".localized)`

**How to reproduce the issue**
In ViewController with Webview, add this code :
`func webViewDidStartLoad(_

[2018-08-17 17:51] fadizant commented on #86
![screen shot 2018-08-17 at 8 45 56 pm](https://user-images.githubusercontent.com/13743626/44281002-1607c180-a25f-11e8-9b1b-f2a4ad7ad7db.png)

window appear over main window that make my main window untouchable, any solution for this please.

[2018-10-30 16:02] AnthonyUccello opened #111 "Property 'isUIFeedbackEnabled' not found on object of type 'KVNProgressConfiguration"
Howdy

After updating to the latest version, we are now getting this error in our Xcode 10, Swift 4.2 project

Property 'isUIFeedbackEnabled' not found on object of type 'KVNProgressConfiguration

It looks like its happening after this commit
https://github.com/AssistoLab/KVNProgress/commit/519ac3f9d9b0484643a5620c4bb1a68d10d4af3a

<img width="991" alt="screen shot 2018-10-30 at 11 59 56 am" src="

[2018-10-30 17:35] AnthonyUccello commented on #111
After we explicity set the podfile to master`  pod 'KVNProgress', git: 'https://github.com/AssistoLab/KVNProgress', branch: 'master'` we got the right code.

but when we had it as just `pod 'KVNProgress',` we for some reason were not getting this updated bool flag. When we looked at the code in the develop branch:https://github.com/AssistoLab/KVNProgress/blob/develop/KVNProgress/Classes/KVNProgres

[2018-11-02 09:55] pierrem opened #112 "iOS8 not supported in version 2.3.5"
There is a call to setNeedsFocusUpdate in setupUI that is not supported before iOS 9.1

[2018-11-16 13:58] NicosKaralis commented on #82
2 years later I'm still having this problem

I've wrapped around the main thread but it still complains about updating UI on background thread

[code]

Apparently the problem is caused here: `[self.contentView addMotionEffect:group];`, maybe because dispatch_once does not run on main thread? What can we do?

[code]

I'm using swift 4.2 and the latest XCode

[2019-03-01 13:14] grifas opened #113 "UI API called on a background thread"
This message appears in the console when I call `KVNProgress.show`:

[code]

Seems to appear only on iOS 12.

[2019-03-01 13:34] pierrem commented on #113
I had this kind of crash when calling UI things from another thread than the main thread. Nothing related to CoreMotion !

[2019-03-11 17:04] grifas commented on #113
But I'm calling `show` in the main thread :/
[code]

[2019-04-11 16:56] danscheibe commented on #113
Got this error on iOS 12.1 on Iphone XSMax too. It not raised in sim or older hardware. (iphone 7 plus )

[2019-04-11 16:57] danscheibe commented on #113
Got this error on iOS 12.1 on Iphone XSMax too. It not raised in sim or older hardware. (iphone 7 plus )

[2019-04-12 10:06] grifas commented on #113
I found this [radar](https://openradar.appspot.com/46210367).

[2019-05-28 12:51] aarashgoodarzi opened #114 "KVNRotationViewController does not dismiss"
after calling :
KVNProgress.dismiss()
an invisible viewController " KVNRotationViewController " sticks on the top and prevent touch events
i got showing VC and it was of type KVNRotationViewController.
i tried to dismiss it either but didn't work.

[2019-07-01 05:51] fcdv1 opened #115 "Ui Freeze"
The UI Freeze after this call
![Screen Shot 2019-07-01 at 1 51 13 PM](https://user-images.githubusercontent.com/8065432/60413377-4f42e900-9c07-11e9-9102-c297adf028f1.png)

![Screen Shot 2019-07-01 at 1 50 12 PM](https://user-images.githubusercontent.com/8065432/60413339-2cb0d000-9c07-11e9-8c7c-8222c8354834.png)

[2019-07-23 01:59] fcdv1 opened #118 "UI Freeze 2"
Show progress, and dismiss immediately, will freeze UI

![Screen Shot 2019-07-23 at 9 57 38 AM](https://user-images.githubusercontent.com/8065432/61676950-52c21f80-ad30-11e9-9047-82934453f134.png)
![Screen Shot 2019-07-23 at 9 56 01 AM](https://user-images.githubusercontent.com/8065432/61676956-581f6a00-ad30-11e9-8d0f-8145fc318941.png)

[2019-08-08 08:33] MayurTanna1 commented on #39
need to update KVNProgress.m file below line
[self.originalKeyWindow drawViewHierarchyInRect:rect afterScreenUpdates:**YES**];

[2019-08-30 09:44] #105 closed

[2019-09-11 11:10] coooliang opened #119 "demo doesn't work in xcode 10.2.1"
it doesn't work in xcode 10.2.1

[2020-02-08 16:00] JianWenXie opened #120 "I have a controller that contains the tableView view after calling kvnprogress. Showerror (withStatus: "string"), controller cannot interact, UI cannot interact"
I have a controller that contains the tableView view after calling kvnprogress. Showerror (withStatus: "string"), controller cannot interact, UI cannot interact
Xcode11
iPhone8 simulator
Macos:10.15.2

[2020-03-25 21:28] Sevyls opened #121 "GLKit is deprecated. Consider migrating to MetalKit instead."
XCode 11.4 shows the following Deprecation warning for KVNProgress 2.3.5:

"GLKit is deprecated. Consider migrating to MetalKit instead."

![Bildschirmfoto 2020-03-25 um 22 24 53](https://user-images.githubusercontent.com/547842/77587042-7523c280-6ee7-11ea-9c7d-56bfa4a61153.png)

MetalKit requires iOS 9.0+, so this change would change the minimum required iOS Version for KVNProgress to this.

I wo

[2020-07-20 11:44] andriy-appuchino opened #123 "AddressSanitizer: heap-buffer-overflow UIColor+KVNContrast.m:16 in -[UIColor(KVNContrast) statusBarStyleConstrastStyle]"
After running my app through the AddressSanitizer I got a heap buffer overflow error.
The lines causing that are in `UIColor+KVNContrast.h` extension in `- (UIStatusBarStyle)statusBarStyleConstrastStyle`.

[code]

`CGColorGetComponents` is not guaranteed to return 3 components in all cases.
To fix that, please replace the lines above with the following:

[code]

[2021-01-27 17:19] vassily-fr opened #125 "UIWindow not re-set correctly after dismissing : Lost control, intefaction, app FREEZEs"
**What where you trying to do**
using download progress with %

**What actually happened**
lost control, app FREEZES

**What you think went wrong (optional)**
I fixed it on by branch : https://github.com/vassily-fr/KVNProgress

**How to reproduce the issue**
simply call KVNShow(progress: value) multiple time from a presenter (in Clean Archi) instead of from controller

**Details**
Swift 5 Xcode 12